@charset "UTF-8";
/*
* ******全局变量******
*/
/*
* ******全局样式******
*/
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, input {
  margin: 0;
  padding: 0;
  border: 0; }

input, button {
  font-size: 14px; }

body {
  color: #000000;
  font-size: 14px;
  font-family: "微软雅黑",Helvetica,Sans-serif; }

/*
* ******基础样式******
*/
.float-left {
  float: left; }

.float-right {
  float: right; }

.margin-l {
  margin-left: 5px; }

.margin-r {
  margin-right: 5px; }

.base-separator {
  height: 10px;
  background-color: #eeeeee;
  border-top: solid #eeeeee 1px;
  border-bottom: solid #eeeeee 1px;
  width: 100%; }

.has-header {
  height: 50px;
  width: 100%;
  background-color: #F8F8F8; }

.has-menu {
  height: 50px;
  width: 100%;
  background-color: #F8F8F8; }

.check-color {
  color: #1fc1d9; }

.button-full {
  width: 100%;
  height: 40px;
  background-color: #1fc1d9;
  color: #fff;
  border: none; }

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  background-color: #1fc1d9;
  color: #fff;
  text-align: center;
  z-index: 10; }
  .header .title {
    height: 30px;
    width: 100px;
    line-height: 30px;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -50px; }
  .header .header-item, .header .header-item-left, .header .header-item-right {
    height: 40px;
    line-height: 40px;
    margin-top: 5px; }
    .header .header-item img, .header .header-item-left img, .header .header-item-right img {
      height: 20px;
      vertical-align: middle; }
  .header .header-item-left {
    margin-left: 15px; }
  .header .header-item-right {
    margin-right: 15px; }

.prduct-container {
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden; }
  .prduct-container .item {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    border-bottom: solid 1px #eeeeee; }
    .prduct-container .item .item-img {
      height: 80px;
      margin-right: 5px;
      border-radius: 2px; }
    .prduct-container .item .item-desc {
      margin-left: 90px; }
    .prduct-container .item .item-subhead {
      font-size: 12px;
      line-height: 25px; }
    .prduct-container .item .item-price {
      overflow: hidden;
      margin-top: 18px; }
      .prduct-container .item .item-price div {
        line-height: 20px; }
    .prduct-container .item .saleprice {
      color: #1fc1d9; }
    .prduct-container .item .price {
      font-size: 12px;
      text-decoration: line-through;
      color: #333333; }

.button-menu {
  position: fixed;
  z-index: 10;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #F8F8F8;
  height: 50px;
  border-top: solid 1px #ABABAB;
  color: #7C8085; }
  .button-menu .button-menu-item {
    width: 25%;
    height: 100%;
    float: left;
    text-align: center; }
    .button-menu .button-menu-item .icon {
      display: inline-block;
      text-align: center;
      height: 40px;
      font-size: 12px;
      margin-top: 5px; }
      .button-menu .button-menu-item .icon p {
        line-height: 15px; }
      .button-menu .button-menu-item .icon img {
        height: 25px; }
    .button-menu .button-menu-item .check {
      color: #1fc1d9; }

.tip {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4); }
  .tip .container {
    width: 260px;
    height: 130px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -65px;
    margin-left: -130px;
    background-color: #fff; }
    .tip .container .tip-text {
      height: 50px;
      text-align: center;
      padding: 20px; }
    .tip .container .tip-btn {
      height: 39px;
      border-top: solid 1px #eeeeee;
      display: flex;
      flex-direction: row;
      flex-flow: nowrap; }
      .tip .container .tip-btn .item:nth-child(2) {
        border-left: solid 1px #eeeeee; }
      .tip .container .tip-btn .item {
        flex: 1;
        text-align: center;
        line-height: 39px;
        color: #1fc1d9; }

/*
* ******主页******
*/
.type {
  padding-left: 5%;
  padding-right: 5%; }
  .type .type-line {
    height: 100px;
    position: relative; }
    .type .type-line .type-item {
      height: 80px;
      width: 80px;
      text-align: center;
      margin-top: 10px; }
      .type .type-line .type-item .type-icon {
        text-align: center; }
        .type .type-line .type-item .type-icon img {
          height: 50px; }
    .type .type-line .middle {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -40px;
      margin-left: -40px; }

.tehui {
  border-bottom: solid 1px #eeeeee;
  overflow: hidden; }
  .tehui .tehui-qiang {
    width: 70%;
    height: 100px;
    text-align: center;
    position: relative; }
    .tehui .tehui-qiang .item {
      display: inline-block;
      text-align: center;
      height: 50px;
      width: 200px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -25px;
      margin-left: -100px; }
      .tehui .tehui-qiang .item img {
        height: 50px; }
      .tehui .tehui-qiang .item .item-title {
        text-align: left;
        padding-left: 5px; }
        .tehui .tehui-qiang .item .item-title .title {
          display: block;
          background-color: #FA4B58;
          color: #ffffff;
          margin-right: 3px;
          padding: 5px; }
  .tehui .tehui-tehui {
    width: 28%;
    height: 100px;
    border-left: solid 1px #eeeeee;
    position: relative;
    text-align: center; }
    .tehui .tehui-tehui .item {
      display: inline-block;
      text-align: center;
      height: 80px;
      width: 80px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -40px;
      margin-left: -40px; }
      .tehui .tehui-tehui .item img {
        height: 50px; }

.hot {
  height: 30px;
  border-bottom: solid 1px #eeeeee;
  padding-left: 15px; }
  .hot div {
    height: 20px;
    line-height: 20px;
    margin-top: 7.5px; }
    .hot div img {
      height: 20px; }

/*
* ******产品列表页面******
*/
.filter {
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: solid 1px #eeeeee;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }
  .filter .filter-item {
    height: 100%;
    flex: 1;
    border-right: solid 1px #eeeeee; }
    .filter .filter-item img {
      height: 15px;
      width: 15px; }

.drop-menu {
  width: 100%; }
  .drop-menu .drop-menu-list {
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
    display: none; }
    .drop-menu .drop-menu-list li {
      line-height: 40px;
      height: 40px; }
      .drop-menu .drop-menu-list li span {
        float: left; }
      .drop-menu .drop-menu-list li img {
        height: 20px;
        margin-top: 10px;
        float: right; }
  .drop-menu .drop-menu-grid {
    list-style: none; }
    .drop-menu .drop-menu-grid li {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      height: 60px;
      border-bottom: solid 1px #eeeeee; }
      .drop-menu .drop-menu-grid li .item {
        flex: 1;
        border-right: solid 1px #eeeeee;
        text-align: center;
        padding-top: 7px; }
        .drop-menu .drop-menu-grid li .item img {
          height: 25px; }
        .drop-menu .drop-menu-grid li .item p {
          line-height: 16px; }

/*
* ******登陆页面******
*/
.login-content .login-item {
  height: 60px;
  border-bottom: solid 1px #eeeeee;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5%;
  margin-right: 5%; }
  .login-content .login-item .login-item-icon {
    width: 20px;
    height: 100%;
    float: left; }
    .login-content .login-item .login-item-icon img {
      width: 20px;
      height: 20px;
      margin-top: 20px; }
  .login-content .login-item .login-item-input {
    margin-left: 30px; }
    .login-content .login-item .login-item-input input {
      height: 40px;
      margin-top: 10px;
      width: 100%;
      border: none;
      outline: none; }

.login-content .login-tip {
  height: 40px;
  margin-left: 5%;
  margin-right: 5%; }
  .login-content .login-tip .login-tip-item {
    float: left;
    margin-right: 20px;
    color: #1fc1d9;
    text-decoration: none; }

/*
** ******用户协议页面******
*/
.agree-container {
  padding: 10px;
  line-height: 22px;
  word-break: break-all; }
  .agree-container .agree-text {
    text-indent: 25px; }
  .agree-container .agree-title {
    font-size: 16px;
    color: #1fc1d9;
    margin-top: 10px; }
  .agree-container .agree-content {
    overflow: hidden; }
    .agree-container .agree-content .item {
      margin-top: 5px; }
    .agree-container .agree-content .list, .agree-container .agree-content .sub-list {
      width: 25px;
      float: left; }
    .agree-container .agree-content .text {
      margin-left: 25px; }
    .agree-container .agree-content .sub-list {
      margin-left: 25px; }
    .agree-container .agree-content .sub-text {
      margin-left: 50px; }
  .agree-container .agree-end {
    margin-top: 20px;
    text-align: right;
    margin-right: 20px; }

/*
** ******注册页面******
*/
.register-content {
  padding: 20px 10px 0; }
  .register-content .item {
    margin-bottom: 15px;
    height: 44px;
    border: solid 1px #D7D7D7; }
    .register-content .item input {
      height: 100%;
      width: 100%;
      text-indent: 10px;
      outline: none;
      border-radius: 0px; }
  .register-content .item-code {
    margin-bottom: 15px;
    height: 44px; }
    .register-content .item-code input {
      height: 100%;
      width: 100%;
      text-indent: 10px;
      outline: none;
      border-radius: 0px; }
    .register-content .item-code .item-input {
      margin-right: 140px;
      border: solid 1px #D7D7D7;
      height: 100%; }
    .register-content .item-code .item-btn {
      width: 130px;
      height: 44px;
      border: solid 1px #D7D7D7; }
    .register-content .item-code .able {
      color: #fff;
      background: #1fc1d9;
      border: none; }
  .register-content .item-tip {
    margin-bottom: 15px;
    height: 44px; }
    .register-content .item-tip a, .register-content .item-tip a:visited {
      color: #1fc1d9; }
  .register-content .item-sex {
    margin-bottom: 15px;
    height: 44px; }
    .register-content .item-sex .button, .register-content .item-sex button, .register-content .item-sex .select-btn {
      height: 44px;
      width: 45%; }
    .register-content .item-sex button {
      border: solid 1px #D7D7D7;
      background-color: #fff; }
    .register-content .item-sex .select-btn {
      border: none;
      background-color: #1fc1d9;
      color: #fff; }
    .register-content .item-sex button:nth-child(1) {
      float: left; }
    .register-content .item-sex button:nth-child(2) {
      float: right; }

/*
** ******个人页面******
*/
.user-content .user {
  height: 80px;
  overflow: hidden;
  background-color: #ffffff;
  border-bottom: solid 1px #dcdcdc; }
  .user-content .user .img {
    height: 60px;
    border-radius: 30px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px; }
  .user-content .user .icon {
    height: 20px;
    float: right;
    margin-top: 30px;
    margin-right: 10px; }
  .user-content .user span {
    line-height: 80px;
    float: left; }

.user-content .item-group {
  list-style: none;
  border-top: solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc;
  margin-top: 20px;
  background-color: #ffffff; }
  .user-content .item-group li {
    overflow: hidden; }
    .user-content .item-group li .icon {
      height: 20px;
      margin-top: 15px;
      float: left;
      margin-left: 20px;
      margin-right: 20px; }
    .user-content .item-group li .text {
      line-height: 50px;
      overflow: hidden;
      border-top: solid 1px #eeeeee; }
      .user-content .item-group li .text span {
        float: left; }
      .user-content .item-group li .text img {
        height: 20px;
        margin-top: 15px;
        float: right;
        margin-right: 10px; }
    .user-content .item-group li .unborder {
      border-top: none; }

/*
** ******我的订单页面******
*/
.myorder-content .filter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 40px;
  background-color: #ffffff;
  border-bottom: solid 1px #dcdcdc; }
  .myorder-content .filter .item {
    flex: 1;
    text-align: center;
    line-height: 40px; }
  .myorder-content .filter .select {
    color: #1fc1d9; }

.myorder-content #order-tip {
  margin: 15px;
  border: solid 1px #dcdcdc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 5px;
  background-color: white;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: none; }

.myorder-content .order-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  .myorder-content .order-list li {
    margin: 15px;
    border: solid 1px #dcdcdc;
    border-radius: 5px;
    padding: 0 10px;
    background-color: white; }
    .myorder-content .order-list li .order-list-header {
      height: 40px;
      line-height: 40px; }
      .myorder-content .order-list li .order-list-header span:nth-child(1), .myorder-content .order-list li .order-list-header .order-list-header span:nth-child(2) {
        float: left; }
      .myorder-content .order-list li .order-list-header span:nth-child(2) {
        font-size: 10px; }
      .myorder-content .order-list li .order-list-header .order-list-state {
        color: #1fc1d9;
        float: right; }
    .myorder-content .order-list li .order-list-content {
      line-height: 25px;
      border-top: solid 1px #dcdcdc;
      border-bottom: solid 1px #dcdcdc; }
    .myorder-content .order-list li .order-list-footer {
      height: 40px; }
      .myorder-content .order-list li .order-list-footer .order-btn, .myorder-content .order-list li .order-list-footer .order-btn-finish, .myorder-content .order-list li .order-list-footer .order-btn-unfinish {
        float: right;
        margin-left: 10px;
        height: 25px;
        width: 90px;
        margin-top: 7.5px;
        border-radius: 3px; }
      .myorder-content .order-list li .order-list-footer .order-btn-finish {
        border: solid 1px #959595;
        background-color: #ffffff; }
      .myorder-content .order-list li .order-list-footer .order-btn-unfinish {
        border: solid 1px #1fc1d9;
        color: #1fc1d9;
        background-color: #ffffff; }

/*
** ******代金券页面******
*/
.cush-active {
  height: 44px;
  width: 90%;
  background-color: white;
  border: none;
  margin-left: 5%;
  margin-top: 15px; }
  .cush-active .cush-input {
    border: none;
    line-height: 44px;
    text-indent: 5px;
    width: 80%;
    float: left; }
  .cush-active .cush-btn {
    border: none;
    width: 20%;
    height: 100%;
    background-color: white;
    float: left;
    border-left: solid 1px #EFEFF4; }

.cush-active-tip {
  margin-bottom: 30px;
  height: 40px;
  line-height: 40px;
  margin-right: 5%; }
  .cush-active-tip a:link, .cush-active-tip a:visited, .cush-active-tip a:hover, .cush-active-tip a:active {
    text-decoration: none;
    color: #FF9A00;
    background-color: transparent;
    display: block;
    float: right;
    margin-left: 20px;
    position: relative; }

.item-template .left, .cush-item .left, .overcush-item .left {
  margin-left: 20px;
  float: left; }

.item-template .right, .cush-item .right, .overcush-item .right {
  margin-right: 20px;
  float: right; }

.item-template .unable, .cush-item .unable, .overcush-item .unable {
  color: #959595;
  text-decoration: line-through; }

.item-template .cush-money, .cush-item .cush-money, .overcush-item .cush-money {
  height: 100px; }

.item-template .cush-money-have, .cush-item .cush-money-have, .overcush-item .cush-money-have {
  height: 80px;
  line-height: 80px; }

.item-template .cush-money-have span:nth-child(2), .cush-item .cush-money-have span:nth-child(2), .overcush-item .cush-money-have span:nth-child(2) {
  font-size: 30px; }

.item-template .cush-data, .cush-item .cush-data, .overcush-item .cush-data {
  height: 50px;
  line-height: 50px; }

.cush-item {
  background: url("../../contents/img/cush-bg.png");
  height: 150px;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  position: relative;
  color: #FF9A00; }

/*
** ******过期代金券******
*/
.overcush-item {
  background: url("../../contents/img/cush-bg-un.png");
  height: 150px;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  position: relative;
  color: grey; }
  .overcush-item .capter {
    position: absolute;
    left: 60px;
    top: 70px;
    height: 30px;
    width: 70px;
    padding: 2px;
    border: solid grey 2px;
    text-align: center;
    line-height: 30px;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg); }

#cush-body #order-tip {
  margin: 15px;
  border: solid 1px #dcdcdc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 5px;
  background-color: white;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: none; }

/*
** ******个人信息页面******
*/
.userinfo-content .img-item {
  height: 80px;
  overflow: hidden;
  background-color: #ffffff;
  border-bottom: solid 1px #dcdcdc; }
  .userinfo-content .img-item .img {
    height: 60px;
    border-radius: 5px;
    float: right;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px; }
  .userinfo-content .img-item .icon {
    height: 20px;
    float: right;
    margin-top: 30px;
    margin-right: 10px; }
  .userinfo-content .img-item span {
    line-height: 80px;
    float: left;
    margin-left: 15px; }

.userinfo-content .item-group {
  list-style: none;
  border-top: solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc;
  margin-top: 20px;
  background-color: #ffffff; }
  .userinfo-content .item-group li {
    overflow: hidden;
    margin-left: 15px; }
    .userinfo-content .item-group li .text {
      line-height: 50px;
      overflow: hidden;
      border-top: solid 1px #eeeeee; }
      .userinfo-content .item-group li .text span:nth-child(1) {
        float: left; }
      .userinfo-content .item-group li .text span:nth-child(3) {
        float: right;
        margin-right: 10px; }
      .userinfo-content .item-group li .text img {
        height: 20px;
        margin-top: 15px;
        float: right;
        margin-right: 10px; }
    .userinfo-content .item-group li .unborder {
      border-top: none; }

.userinfo-content .userinfo-tip {
  height: 60px;
  margin: 10px 15px 0px;
  color: #1fc1d9; }

/*
** ******亲友页面******
*/
.friend-content .friend-tip {
  text-align: center;
  height: 60px;
  line-height: 60px;
  display: none; }

.friend-content .item-group {
  list-style: none;
  border-top: solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc;
  margin-bottom: 20px;
  background-color: #ffffff; }
  .friend-content .item-group li {
    overflow: hidden;
    margin-left: 15px; }
    .friend-content .item-group li .text {
      line-height: 50px;
      overflow: hidden;
      border-top: solid 1px #eeeeee; }
      .friend-content .item-group li .text span:nth-child(1) {
        float: left; }
      .friend-content .item-group li .text span:nth-child(3) {
        float: right;
        margin-right: 10px; }
      .friend-content .item-group li .text img {
        height: 20px;
        margin-top: 15px;
        float: right;
        margin-right: 10px; }
    .friend-content .item-group li .unborder {
      border-top: none; }
