@charset "UTF-8";
/*
全局变量
*/
/*
全局样式
*/
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  color: #000000;
  font-size: 14px;
  font-family: "微软雅黑",Helvetica,Sans-serif; }

/*
基础样式
*/
.float-left {
  float: left; }

.float-right {
  float: right; }

.margin-l {
  margin-left: 5px; }

.margin-r {
  margin-right: 5px; }

.base-separator {
  height: 10px;
  background-color: #eeeeee;
  border-top: solid #eeeeee 1px;
  border-bottom: solid #eeeeee 1px;
  width: 100%; }

.has-header {
  margin-top: 50px; }

.has-menu {
  height: 50px;
  width: 100%;
  background-color: #F8F8F8; }

.check-color {
  color: #1fc1d9; }

/*
* 标题头
*/
.header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  background-color: #1fc1d9;
  color: #fff;
  text-align: center;
  z-index: 10; }
  .header .title {
    height: 30px;
    width: 100px;
    line-height: 30px;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -50px; }
  .header .header-item, .header .header-item-left, .header .header-item-right {
    height: 40px;
    line-height: 40px;
    margin-top: 5px; }
    .header .header-item img, .header .header-item-left img, .header .header-item-right img {
      height: 20px;
      vertical-align: middle; }
  .header .header-item-left {
    margin-left: 15px; }
  .header .header-item-right {
    margin-right: 15px; }

/*
* 产品列表
*/
.prduct-container {
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden; }
  .prduct-container .item {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    border-bottom: solid 1px #eeeeee; }
    .prduct-container .item .item-img {
      height: 80px;
      margin-right: 5px;
      border-radius: 5px; }
    .prduct-container .item .item-desc {
      margin-left: 90px; }
    .prduct-container .item .item-subhead {
      font-size: 12px;
      line-height: 25px; }
    .prduct-container .item .item-price {
      overflow: hidden;
      margin-top: 18px; }
      .prduct-container .item .item-price div {
        line-height: 20px; }
    .prduct-container .item .saleprice {
      color: #1fc1d9; }
    .prduct-container .item .price {
      font-size: 12px;
      text-decoration: line-through;
      color: #333333; }

/*
* 底部菜单
*/
.button-menu {
  position: fixed;
  z-index: 10;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #F8F8F8;
  height: 50px;
  border-top: solid 1px #ABABAB;
  color: #7C8085; }
  .button-menu .button-menu-item {
    width: 25%;
    height: 100%;
    float: left;
    text-align: center; }
    .button-menu .button-menu-item .icon {
      display: inline-block;
      text-align: center;
      height: 40px;
      font-size: 12px;
      margin-top: 5px; }
      .button-menu .button-menu-item .icon p {
        line-height: 15px; }
      .button-menu .button-menu-item .icon img {
        height: 25px; }
    .button-menu .button-menu-item .check {
      color: #1fc1d9; }

/*
* 主页项目分类
*/
.type {
  padding-left: 5%;
  padding-right: 5%; }
  .type .type-line {
    height: 100px;
    position: relative; }
    .type .type-line .type-item {
      height: 80px;
      width: 80px;
      text-align: center;
      margin-top: 10px; }
      .type .type-line .type-item .type-icon {
        text-align: center; }
        .type .type-line .type-item .type-icon img {
          height: 50px; }
    .type .type-line .middle {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -40px;
      margin-left: -40px; }

/*
* 主页特惠专区
*/
.tehui {
  border-bottom: solid 1px #eeeeee;
  overflow: hidden; }
  .tehui .tehui-qiang {
    width: 70%;
    height: 100px;
    text-align: center;
    position: relative; }
    .tehui .tehui-qiang .item {
      display: inline-block;
      text-align: center;
      height: 50px;
      width: 200px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -25px;
      margin-left: -100px; }
      .tehui .tehui-qiang .item img {
        height: 50px; }
      .tehui .tehui-qiang .item .item-title {
        text-align: left;
        padding-left: 5px; }
        .tehui .tehui-qiang .item .item-title .title {
          display: block;
          background-color: #FA4B58;
          color: #ffffff;
          margin-right: 3px;
          padding: 5px; }
  .tehui .tehui-tehui {
    width: 28%;
    height: 100px;
    border-left: solid 1px #eeeeee;
    position: relative;
    text-align: center; }
    .tehui .tehui-tehui .item {
      display: inline-block;
      text-align: center;
      height: 80px;
      width: 80px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -40px;
      margin-left: -40px; }
      .tehui .tehui-tehui .item img {
        height: 50px; }

/*
* 主页热门专区
*/
.hot {
  height: 30px;
  border-bottom: solid 1px #eeeeee;
  padding-left: 15px; }
  .hot div {
    height: 20px;
    line-height: 20px;
    margin-top: 7.5px; }
    .hot div img {
      height: 20px; }

/*
* 产品列表页面filter
*/
.filter {
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: solid 1px #eeeeee; }
  .filter .filter-item {
    width: 49%;
    height: 100%; }
    .filter .filter-item img {
      height: 15px;
      width: 15px; }
  .filter .filter-line-sepa {
    width: 1px;
    height: 25px;
    margin-top: 7.5px;
    background-color: #eeeeee; }

/*
* 产品列表页面筛选
*/
.product-class {
  height: 70px;
  border-bottom: solid 1px #eeeeee;
  position: relative;
  overflow: visible;
  left: 0px; }
  .product-class .item {
    height: 55px;
    width: 60px;
    display: inline-block;
    text-align: center;
    margin-top: 7.5px; }
    .product-class .item img {
      height: 30px; }
  .product-class .item-20 {
    position: absolute;
    left: 1235px; }
  .product-class .item-19 {
    position: absolute;
    left: 1170px; }
  .product-class .item-18 {
    position: absolute;
    left: 1105px; }
  .product-class .item-17 {
    position: absolute;
    left: 1040px; }
  .product-class .item-16 {
    position: absolute;
    left: 975px; }
  .product-class .item-15 {
    position: absolute;
    left: 910px; }
  .product-class .item-14 {
    position: absolute;
    left: 845px; }
  .product-class .item-13 {
    position: absolute;
    left: 780px; }
  .product-class .item-12 {
    position: absolute;
    left: 715px; }
  .product-class .item-11 {
    position: absolute;
    left: 650px; }
  .product-class .item-10 {
    position: absolute;
    left: 585px; }
  .product-class .item-9 {
    position: absolute;
    left: 520px; }
  .product-class .item-8 {
    position: absolute;
    left: 455px; }
  .product-class .item-7 {
    position: absolute;
    left: 390px; }
  .product-class .item-6 {
    position: absolute;
    left: 325px; }
  .product-class .item-5 {
    position: absolute;
    left: 260px; }
  .product-class .item-4 {
    position: absolute;
    left: 195px; }
  .product-class .item-3 {
    position: absolute;
    left: 130px; }
  .product-class .item-2 {
    position: absolute;
    left: 65px; }
  .product-class .item-1 {
    position: absolute;
    left: 0px; }
