<div class="filter">
	<div class="filter-item" ng-class="{'check-color':menuParams.area}" ng-click="switchMenu('area')">
		<span class="filter-text">位置</span>
		<div></div>
	</div>
	<div class="filter-item float-left" ng-class="{'check-color':menuParams.order}" ng-click="switchMenu('order')">
		<span class="filter-text ">排序</span>
		<div></div>
	</div>
	<div class="filter-item float-left" ng-class="{'check-color':menuParams.classes}" ng-click="switchMenu('class')">
		<span class="filter-text">分类</span>
		<div></div>
	</div>
	<div class="filter-item float-left" ng-class="{'check-color':menuParams.classes}" ng-click="switchMenu('class')">
		<span class="filter-text">性别</span>
		<div></div>
	</div>
</div>
