<!DOCTYPE html>
<html lang="zh-CN" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
	<link rel="stylesheet" href="../stylesheets/dest/main.css">
	<title>悠康医生</title>
</head>
<body ng-controller="grabCtrl">
	<div class="header">
		<div class="header-item float-left">
			<a href="home.html">
				<img src="../contents/svg/back.svg">
			</a>
		</div>
		<div class="title">
			免费抢单
		</div>
		<div class="header-item float-right" ng-click="question()">
			<img src="../contents/svg/question.svg">
		</div>
	</div>
	<div class="has-header"></div>
	<div class="filter">
		<div class="filter-item" ng-class="{'check-color':menuParams.area}" ng-click="switchMenu('area')">
			<span class="filter-text">位置</span>
			<div></div>
		</div>
		<div class="filter-item float-left" ng-class="{'check-color':menuParams.classes}" ng-click="switchMenu('class')">
			<span class="filter-text">分类</span>
			<div></div>
		</div>
		<div class="filter-item float-left" ng-class="{'check-color':menuParams.date}" ng-click="switchMenu('date')">
			<span class="filter-text ">时间</span>
			<div></div>
		</div>
	</div>
	<div class="drop-menu">
		<ul id="drop-area" class="drop-menu-list" ng-show="hasArea">
			<li ng-class="{'li-check':areaParams.default}" ng-click="areaSelect('default')">
				<span >所有区域</span>
				<div></div>
			</li>
			<li ng-class="{'li-check':areaParams.futian}" ng-click="areaSelect('futian')">
				<span>福田区</span>
				<div></div>
			</li>
			<li ng-class="{'li-check':areaParams.nanshan}" ng-click="areaSelect('nanshan')">
				<span>南山区</span>
				<div></div>
			</li>
			<li ng-class="{'li-check':areaParams.luohu}" ng-click="areaSelect('luohu')">
				<span>罗湖区</span>
				<div></div>
			</li>
			<li ng-class="{'li-check':areaParams.baoan}" ng-click="areaSelect('baoan')">
				<span>宝安区</span>
				<div></div>
			</li>
			<li ng-class="{'li-check':areaParams.longhua}" ng-click="areaSelect('longhua')">
				<span>龙华新区</span>
				<div></div>
			</li>
			<li ng-class="{'li-check':areaParams.longgang}" ng-click="areaSelect('longgang')">
				<span>龙岗区</span>
				<div></div>
			</li>
			<li ng-class="{'li-check':areaParams.yantian}" ng-click="areaSelect('yantian')">
				<span>盐田区</span>
				<div></div>
			</li>
		</ul>
		<ul id="drop-date" class="drop-menu-list" ng-show="hasDate" ng-repeat="date in dates">
			<li ng-class="{'li-check':dateParams[date]}" ng-click="dateSelect(date)">
				<span ng-bind="date"></span>
				<div></div>
			</li>
		</ul>
		<ul id="drop-class" class="drop-menu-list" ng-show="hasClass">
			<li ng-class="{'li-check':classParams.jieya}" ng-click="classSelect('jieya')">
				<span>洁牙</span>
				<div></div>
			</li>
			<li ng-class="{'li-check':classParams.meirong}" ng-click="classSelect('meirong')">
				<span>医学美容</span>
				<div></div>
			</li>
			<li ng-class="{'li-check':classParams.tuina}" ng-click="classSelect('tuina')">
				<span>推拿</span>
				<div></div>
			</li>
		</ul>
	</div>
	<div class="prduct-container" ng-repeat="grab in grabs" >
		<div class="item">
			<img class="item-img float-left" ng-src="{{grab.smallImg}}" fallback-src="../contents/img/p_default.png">
			<div class="item-desc">
				<div class="item-title" ng-bind="grab.title"></div>
				<div class="item-subhead" ng-bind="grab.hospital.name">
				</div>
				<div class="item-qiang" ng-class="{'no':grab.noamount}">
					<div class="btn" ng-bind="grab.btnMess"></div>
					<div class="text">价值：{{grab.standPrice}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="product-bg" ng-if="hasBg"></div>
	<div class="cush-tip" ng-if="noGrab">暂时没有抢单,请选择其他区域或者时间!</div>
	<div class="grab-imgtip" ng-if="noUsed" ng-click="hideTip()">
		<div>
			<img src="../contents/img/prompt.png">
		</div>
	</div>
	<div ng-include="'tip.html'"></div>
	<div ng-include="'loading.html'"></div>
	<script src="../javascripts/lib/angular.min.js"></script>
	<script src="../javascripts/self/module.min.js"></script>
	<script src="../javascripts/self/grabCtrl.min.js"></script>
</body>
</html>
