<!DOCTYPE html>
<html lang="zh-CN" ng-app="myApp">
<head>
  	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1.3,user-scalable=no">
    <link rel="stylesheet" href="../stylesheets/dest/main.css">
	<link rel="stylesheet" href="../stylesheets/dest/swiper.min.css">
  	<title>悠康医生</title>
</head>
<body ng-controller="homeCtrl">
	<div class="header" data-ng-init="load()">
		<div class="header-item float-left header-item-width">
			<img src="../contents/svg/address.svg">
			<span ng-bind="locationInfo"></span>
		</div>
		<div class="title">
			悠康医生
		</div>
		<div class="header-item float-right">
			<img src="../contents/svg/search.svg">
		</div>
	</div>
	<div class="has-header"></div>
	<div class="swiper-container">
		<div class="swiper-wrapper">
		   <div class="swiper-slide">
			   <a ng-href="{{banners[0].url}}" >
				   <img class="swiper-img" ng-src="{{banners[0].path}}">
			   </a>
		   </div>
		   <div class="swiper-slide">
			  <a ng-href="{{banners[1].url}}" >
				  <img class="swiper-img" ng-src="{{banners[1].path}}">
			  </a>
		  </div>
		  <div class="swiper-slide">
			  <a ng-href="{{banners[2].url}}" >
				  <img class="swiper-img" ng-src="{{banners[2].path}}">
			  </a>
		  </div>
		  <div class="swiper-slide">
			  <a ng-href="{{banners[3].url}}" >
				  <img class="swiper-img" ng-src="{{banners[3].path}}">
			  </a>
		  </div>
		  <div class="swiper-slide">
			  <a ng-href="{{banners[4].url}}" >
				  <img class="swiper-img" ng-src="{{banners[4].path}}">
			  </a>
		  </div>
	   </div>
	   <div class="swiper-pagination"></div>
	</div>
	</div>
	<div class="type">
		<div class="type-line">
			<div class="type-item float-left" ng-click="gotoMenu('/new/htmls/product.html#?product=yake')">
				<div class="type-icon ">
					<img src="../contents/svg/yake.svg" >
					<p>牙科</p>
				</div>
			</div>
			<div class="type-item middle" ng-click="gotoMenu('/new/htmls/product.html#?product=meirong')">
				<div class="type-icon">
					<img src="../contents/svg/meirong.svg" >
					<p>医学美容</p>
				</div>
			</div>
			<div class="type-item float-right" ng-click="gotoMenu('/new/htmls/product.html#?product=fck')">
				<div class="type-icon ">
					<img src="../contents/svg/fck.svg" >
					<p>高端妇产科</p>
				</div>
			</div>
		</div>
		<div class="type-line">
			<div class="type-item float-left" ng-click="gotoMenu('/new/htmls/exam.html')">
				<div class="type-icon ">
					<img src="../contents/svg/tijian.svg" >
					<p>体检</p>
				</div>
			</div>
			<div class="type-item middle" ng-click="gotoMenu('/new/htmls/product.html#?product=zhongyi')">
				<div class="type-icon">
					<img src="../contents/svg/zhongyi.svg" >
					<p>中医理疗</p>
				</div>
			</div>
			<div class="type-item float-right" ng-click="gotoMenu('/new/htmls/news.html')">
				<div class="type-icon ">
					<img src="../contents/svg/zixun.svg" >
					<p>健康资讯</p>
				</div>
			</div>
		</div>
	</div>
	<div class="base-separator"></div>
	<div class="tehui">
		<div class="tehui-qiang float-left" ng-click="gotoMenu('/new/htmls/grab.html')">
			<div class="item">
				<img src="../contents/svg/qiang.svg" class="float-left">
				<div class="item-title float-left">
					<p>免费赠送专区</p>
					<p>
						<span class="title float-left">高端洗牙</span>
						<span class="title float-left">精致脱毛</span>
					</p>
				</div>
			</div>
		</div>
		<div class="tehui-tehui float-left" ng-click="gotoMenu('/new/htmls/discount.html')">
			<div class="item sales">
				<img src="../contents/svg/sales.svg">
				<p>特惠区</p>
			</div>
		</div>
	</div>
	<div class="hot">
		<div>
			<img src="../contents/svg/hot.svg">
			<span>热门推荐</span>
		</div>
	</div>
	<ul class="prduct-container">
		<li class="item" ng-repeat = "item in items" ng-click="detail(item.id,item.hospitalId)">
			<img class="item-img float-left" ng-src="{{item.samllimg}}" fallback-src="../contents/img/p_default.png">
			<div class="item-desc">
				<div class="item-title" ng-bind="item.title"></div>
				<div class="item-subhead" ng-bind="item.hospitalname"></div>
				<div class="item-price">
					<div class="float-left">
						<span class="saleprice">￥{{item.preferPrice}}</span>
						<span class="priceType">{{item.preferPriceType}}</span>
					</div>
					<div class="float-left margin-l">
						<span class="price float-left">￥{{item.standPrice}}</span>
					</div>
					<div class="margin-right">
						<span class="item-count float-right">{{item.sales}}人下单</span>
					</div>
				</div>
			</div>
		</li>
	</ul>
	<div ng-include="'section/bottom-menu.html'"></div>
	<div class="cush-tip" ng-if="noProduct">{{$parent.noProductText}}</div>
	<div class="has-menu"></div>
	<div ng-include="'section/tip.html'"></div>
	<div ng-include="'section/loading.html'"></div>
	<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="../javascripts/lib/jquery.min.js"></script>
	<script src="../javascripts/lib/swiper.min.js"></script>
	<script src="../javascripts/lib/angular.min.js"></script>
	<script src="../javascripts/lib/angular.route.min.js"></script>
	<script src="../javascripts/self/module.min.js"></script>
	<script src="../javascripts/self/homeCtrl.min.js"></script>
	<script>
		$(function(){
			//根据设备宽度初始化图片大小
			var width = screen.width;
			$(".swiper-img").each(function(index,element){
				element.style.width = width+"px";
			});
			//初始化swiper
			var myswiper = new Swiper(".swiper-container",{
				loop: false,
				pagination: '.swiper-pagination',
				autoplay: 5000,
				autoplayDisableOnInteraction:false,
			})
		})
	</script>
</body>
</html>
