<li>
	<div class="item" ng-class="{'item-check':classParams.default}" ng-click="classSelect('default')">
		<img src="../contents/svg/meirong/all.svg">
		<p> 全部 </p>
	</div>
	<div class="item" ng-class="{'item-check':classParams.zzy}" ng-click="classSelect('zzy')">
		<img src="../contents/svg/meirong/yanmei.svg">
		<p>眼眉整形</p>
	</div>
	<div class="item" ng-class="{'item-check':classParams.xiya}" ng-click="classSelect('xiya')">
		<img src="../contents/svg/meirong/mianbu.svg">
		<p>面部整形</p>
	</div>
	<div class="item" ng-class="{'item-check':classParams.kcy}" ng-click="classSelect('kcy')">
		<img src="../contents/svg/meirong/bibu.svg">
		<p>鼻部整形</p>
	</div>
	<div class="item" ng-class="{'item-check':classParams.buya}" ng-click="classSelect('buya')">
		<img src="../contents/svg/meirong/xiong.svg">
		<p>胸部整形</p>
	</div>
</li>
<li>
	<div class="item" ng-class="{'item-check':classParams.baya}" ng-click="classSelect('baya')">
		<img src="../contents/svg/meirong/xizhi.svg">
		<p>吸脂塑形</p>
	</div>
	<div class="item" ng-class="{'item-check':classParams.ycmr}" ng-click="classSelect('ycmr')">
		<img src="../contents/svg/meirong/simi.svg">
		<p>私密整形</p>
	</div>
	<div class="item" ng-class="{'item-check':classParams.jiaozheng}" ng-click="classSelect('jiaozheng')">
		<img src="../contents/svg/meirong/zhushe.svg">
		<p>注射美容</p>
	</div>
	<div class="item" ng-class="{'item-check':classParams.yichi}" ng-click="classSelect('yichi')">
		<img src="../contents/svg/meirong/jiguang.svg">
		<p>激光美肤</p>
	</div>
	<div class="item" ng-class="{'item-check':classParams.yzzl}" ng-click="classSelect('yzzl')">
		<img src="../contents/svg/meirong/koucun.svg">
		<p>口唇整形</p>
	</div>
</li>
<li>
	<div class="item" ng-class="{'item-check':classParams.other}" ng-click="classSelect('other')">
		<img src="../contents/svg/meirong/qita.svg">
		<p>其他</p>
	</div>
	<div class="item">
	</div>
	<div class="item">
	</div>
	<div class="item">
	</div>
	<div class="item">
	</div>
</li>
