<li>
	<div class="item" ng-class="{'item-check':classParams.default}" ng-click="classSelect('default')">
		<img src="../contents/svg/fck/all.svg">
		<p> 全部 </p>
	</div>
	<div class="item" ng-class="{'item-check':classParams.zzy}" ng-click="classSelect('zzy')">
		<img src="../contents/svg/fck/jiancha.svg">
		<p>产前检查</p>
	</div>
	<div class="item" ng-class="{'item-check':classParams.xiya}" ng-click="classSelect('xiya')">
		<img src="../contents/svg/fck/fenmian.svg">
		<p>分娩</p>
	</div>
	<div class="item">
	</div>
	<div class="item">
	</div>
</li>
