<li>
	<div class="item" ng-class="{'item-check':classParams.default}" ng-click="classSelect('default')">
		<img src="../contents/svg/yake/all.svg">
		<p> 全部 </p>
	</div>
	<div class="item" ng-class="{'item-check':classParams.zzy}" ng-click="classSelect('zzy')">
		<img src="../contents/svg/yake/zzy.svg">
		<p>种植牙</p>
	</div>
	<div class="item" ng-class="{'item-check':classParams.xiya}" ng-click="classSelect('xiya')">
		<img src="../contents/svg/yake/xiya.svg">
		<p> 洗牙 </p>
	</div>
	<div class="item" ng-class="{'item-check':classParams.kcy}" ng-click="classSelect('kcy')">
		<img src="../contents/svg/yake/kcy.svg">
		<p>烤瓷牙</p>
	</div>
	<div class="item" ng-class="{'item-check':classParams.buya}" ng-click="classSelect('buya')">
		<img src="../contents/svg/yake/buya.svg">
		<p> 补牙 </p>
	</div>
</li>
<li>
	<div class="item" ng-class="{'item-check':classParams.baya}" ng-click="classSelect('baya')">
		<img src="../contents/svg/yake/baya.svg">
		<p>拔牙</p>
	</div>
	<div class="item" ng-class="{'item-check':classParams.ycmr}" ng-click="classSelect('ycmr')">
		<img src="../contents/svg/yake/ycmr.svg">
		<p>牙齿美容</p>
	</div>
	<div class="item" ng-class="{'item-check':classParams.jiaozheng}" ng-click="classSelect('jiaozheng')">
		<img src="../contents/svg/yake/jiaozheng.svg">
		<p>牙齿矫正</p>
	</div>
	<div class="item" ng-class="{'item-check':classParams.yichi}" ng-click="classSelect('yichi')">
		<img src="../contents/svg/yake/yichi.svg">
		<p>义齿</p>
	</div>
	<div class="item" ng-class="{'item-check':classParams.yzzl}" ng-click="classSelect('yzzl')">
		<img src="../contents/svg/yake/yzzl.svg">
		<p>牙周治疗</p>
	</div>
</li>
<li>
	<div class="item" ng-class="{'item-check':classParams.other}" ng-click="classSelect('other')">
		<img src="../contents/svg/yake/qita.svg">
		<p>其他</p>
	</div>
	<div class="item">
	</div>
	<div class="item">
	</div>
	<div class="item">
	</div>
	<div class="item">
	</div>
</li>
