<!DOCTYPE html>
<html lang="zh-CN" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1.3,user-scalable=no">
    <link rel="stylesheet" href="../stylesheets/dest/main.css">
	<title>悠康医生</title>
</head>
<body>
	<div class="header">
		<div class="header-item float-left">
			<a href="home.html">
				<img src="../contents/svg/back.svg">
			</a>
		</div>
		<div class="title">
			我的关注
		</div>
	</div>
	<div class="has-header"></div>
    <div class="follow-content" ng-controller="myFollowCtrl">
		<div class="switch">
            <div class="item" ng-class="{'select':params.user}" ng-click="switch('user')">
				<a href="#/user">个人</a>
			</div>
			<div class="item" ng-class="{'select':params.doctor}" ng-click="switch('doctor')">
				<a href="#/doctor">医生</a>
			</div>
            <div class="item" ng-class="{'select':params.product}" ng-click="switch('product')">
				<a href="#/product">项目</a>
			</div>
		</div>
	</div>
    <div ng-view></div>
    <script src="../javascripts/lib/angular.min.js"></script>
	<script src="../javascripts/lib/angular.route.min.js"></script>
	<script src="../javascripts/dest/module/module.js"></script>
	<script src="../javascripts/dest/route/followRoute.js"></script>
	<script src="../javascripts/dest/ctrl/myFollowCtrl.js"></script>
</body>
</html>