<!DOCTYPE html>
<html lang="zh-CN" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
	<link rel="stylesheet" href="../stylesheets/dest/main.css">
	<title>悠康医生</title>
</head>
<body>
	<div class="header">
		<div class="header-item float-left">
			<a href="user.html">
				<img src="../contents/svg/back.svg">
			</a>
		</div>
		<div class="title">
			我的帖子
		</div>
    </div>
	<div class="has-header"></div>
	<div class="message-content" ng-controller="myPostCtrl" data-ng-init="init()">
		<div class="switch">
			<div class="item " ng-class="{'select':params.hasPublish}" ng-click="switch('publish')">
				<a href="#/post">我发布的</a>
			</div>
			<div class="item" ng-class="{'select':params.hasReply}" ng-click="switch('reply')">
				<a href="#/reply">我评论的</a>
			</div>
		</div>
	</div>
    <div ng-view></div>
	<script src="../javascripts/lib/angular.min.js"></script>
	<script src="../javascripts/lib/angular.route.min.js"></script>
	<script src="../javascripts/dest/module/module.js"></script>
	<script src="../javascripts/dest/route/postRoute.js"></script>
	<script src="../javascripts/dest/ctrl/myPostCtrl.js"></script>
</body>
</html>
