<!DOCTYPE html>
<html lang="zh-CN" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
	<link rel="stylesheet" href="../stylesheets/dest/main.css">
	<title>悠康医生</title>
</head>
<body style="background-color:#EFEFF4" ng-controller="userCtrl" data-ng-init="load()">
	<div class="header">
		<div class="title">
			我的
		</div>
    </div>
	<div class="has-header"></div>
	<div class="user-content">
		<div class="user" ng-click="goto('/new/htmls/userinfo.html')">
			<img class="img" src="../contents/svg/u-img.svg" alt="">
			<span ng-bind="name"></span>
			<img class="icon" src="../contents/svg/right-arrow.svg">
		</div>
		<ul class="item-group">
			<li ng-click="goto('/new/htmls/order.html')">
				<img class="icon" src="../contents/svg/dingdan.svg">
				<div class="text unborder">
					<span>我的订单</span>
					<img src="../contents/svg/right-arrow.svg">
				</div>
			</li>
			<li ng-click="goto('/new/htmls/cush.html')">
				<img class="icon" src="../contents/svg/djq.svg">
				<div class="text">
					<span>我的代金券</span>
					<img src="../contents/svg/right-arrow.svg">
				</div>
			</li>
			<li ng-click="goto('/new/htmls/grab-order.html')">
				<img class="icon" src="../contents/svg/qiang.svg">
				<div class="text">
					<span>我的惠赠</span>
					<img src="../contents/svg/right-arrow.svg">
				</div>
			</li>
		</ul>
		<ul class="item-group">
			<li ng-click="alert('敬请期待!')">
				<img class="icon" src="../contents/svg/u-zixun.svg">
				<div class="text unborder">
					<span>我的咨询</span>
					<img src="../contents/svg/right-arrow.svg">
				</div>
			</li>
			<li ng-click="alert('敬请期待!')">
				<img class="icon" src="../contents/svg/u-friend.svg">
				<div class="text">
					<span>我的亲友</span>
					<img src="../contents/svg/right-arrow.svg">
				</div>
			</li>
			<li ng-click="goto('/new/htmls/userinfo.html')">
				<img class="icon" src="../contents/svg/u-account.svg">
				<div class="text">
					<span>我的账户</span>
					<img src="../contents/svg/right-arrow.svg">
				</div>
			</li>
		</ul>
	</div>
	<div ng-include="'bottom-menu.html'"></div>
	<div class="has-user-menu"></div>
	<div ng-include="'tip.html'"></div>
	<script src="../javascripts/lib/angular.min.js"></script>
	<script src="../javascripts/lib/angular.route.min.js"></script>
	<script src="../javascripts/self/module.min.js"></script>
	<script src="../javascripts/self/userCtrl.min.js"></script>
</body>
</html>
