<div class="header">
	<div class="header-item float-left">
		<a href="userinfo.html">
			<img src="../contents/svg/back.svg">
		</a>
	</div>
	<div class="title">
		修改信息
	</div>
</div>
<div class="has-header"></div>
<div class="change">
	<div class="text" ng-bind="title"></div>
	<div class="input">
		<input type="text" placeholder="{{tip}}" ng-model="$parent.val" ng-if="hasinput">
		<div ng-class="{'select':sexparams.men}" ng-if="hassex" ng-click="select('男')">男</div>
		<div ng-class="{'select':sexparams.women}" ng-if="hassex" ng-click="select('女')">女</div>
	</div>
	<button class="button-full" ng-click="change()">保存</button>
</div>