<div class="button-menu">
	<div class="button-menu-item" ng-click="menuClick('home')">
		<div class="icon" ng-class="{'check':hasHomeMenu}">
			<div class=homeIcon></div>
			<p>首页</p>
		</div>
	</div>
	<div class="button-menu-item" ng-click="alert('敬请期待！')" >
		<div class="icon" ng-class="{'check':hasDoctorMenu}">
			<div class="doctorIcon"></div>
			<p>医生</p>
		</div>
	</div>
	<div class="button-menu-item" ng-click="alert('敬请期待！')">
		<div class="icon" ng-class="{'check':hasInteractionMenu}">
			<div class="InteractionIcon"></div>
			<p>交互</p>
		</div>
	</div>
	<div class="button-menu-item" ng-click="menuClick('user')">
		<div class="icon" ng-class="{'check':hasUserMenu}">
			<div class="userIcon"></div>
			<p>我的</p>
		</div>
	</div>
</div>
