<div class="interaction-content">
    <ul class="card">
        <li ng-repeat="post in posts" ng-click="detail(post.id)">
            <img class="headimg" ng-src="{{post.faceImage}}" fallback-src="../contents/temp/head-img.png">
            <div class="container">
                <p class="name" ng-bind="post.userName"></p>
                <p class="text" ng-bind="post.postName"></p>
                <div class="img">
                    <img ng-repeat="img in post.list2" ng-src="{{img}}">
                </div>
                <div class="info">
                    <span ng-bind="post.middTimeStr"></span>
                    <div class="mess">
                        <img src="../contents/svg/mess.svg">
                        <span ng-bind="post.commentNum"></span>
                    </div>
                    <div class="see">
                        <img src="../contents/svg/see-grey.svg">
                        <span ng-bind="post.visitNum"></span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>