@charset "UTF-8";
/*
* ******全局变量******
*/
/*
* ******全局样式******
*/
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, input {
  margin: 0;
  padding: 0;
  border: 0; }

input, button {
  font-size: 14px; }

body {
  color: #000000;
  font-size: 14px;
  font-family: "微软雅黑",Helvetica,Sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

/*
* ******基础样式******
*/
.float-left {
  float: left; }

.float-right {
  float: right; }

.margin-l {
  margin-left: 5px; }

.margin-r {
  margin-right: 5px; }

.base-separator {
  height: 10px;
  background-color: #eeeeee;
  border-top: solid #eeeeee 1px;
  border-bottom: solid #eeeeee 1px;
  width: 100%; }

.large-separator {
  height: 24px;
  background-color: #eeeeee;
  border-top: solid #eeeeee 1px;
  border-bottom: solid #eeeeee 1px;
  width: 100%; }

.has-header {
  height: 50px;
  width: 100%; }

.has-menu {
  height: 50px;
  width: 100%; }

.has-user-menu {
  height: 55px;
  width: 100%; }

.check-color {
  color: #1fc1d9; }

.overflowhide {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%; }

.button-full {
  width: 100%;
  height: 40px;
  background-color: #1fc1d9;
  color: #fff;
  border: none; }

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  background-color: #1fc1d9;
  color: #fff;
  text-align: center;
  z-index: 20; }
  .header .title {
    height: 30px;
    width: 100px;
    line-height: 30px;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -50px; }
  .header .header-item {
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-top: 5px; }
    .header .header-item img {
      height: 20px;
      vertical-align: middle; }
  .header .header-item-width {
    width: 80px; }

.prduct-container {
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  list-style: none; }
  .prduct-container .item {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    border-bottom: solid 1px #eeeeee; }
    .prduct-container .item .item-img {
      height: 80px;
      margin-right: 5px;
      border-radius: 2px; }
    .prduct-container .item .item-desc {
      margin-left: 90px; }
    .prduct-container .item .item-subhead {
      font-size: 12px;
      margin-top: 5px; }
    .prduct-container .item .item-price {
      overflow: hidden;
      margin-top: 18px; }
      .prduct-container .item .item-price div {
        line-height: 20px; }
      .prduct-container .item .item-price .item-count {
        font-size: 12px; }
    .prduct-container .item .saleprice {
      color: #1fc1d9; }
    .prduct-container .item .priceType {
      color: #1fc1d9;
      font-size: 12px; }
    .prduct-container .item .price {
      font-size: 12px;
      text-decoration: line-through;
      color: #333333; }
    .prduct-container .item .item-qiang {
      border: solid 1px #FF5A00;
      height: 30px;
      line-height: 30px;
      text-align: center;
      margin-top: 5px; }
      .prduct-container .item .item-qiang .text {
        color: #959595;
        margin-right: 80px;
        text-decoration: line-through; }
      .prduct-container .item .item-qiang .btn {
        width: 80px;
        background-color: #FF5A00;
        float: right;
        color: #fff; }
    .prduct-container .item .no {
      border: solid 1px #959595; }
      .prduct-container .item .no .btn {
        background-color: #959595; }

.button-menu {
  position: fixed;
  z-index: 20;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #F8F8F8;
  height: 50px;
  border-top: solid 1px #ABABAB;
  color: #7C8085; }
  .button-menu .button-menu-item {
    width: 25%;
    height: 100%;
    float: left;
    text-align: center; }
    .button-menu .button-menu-item .icon {
      display: inline-block;
      text-align: center;
      height: 40px;
      font-size: 12px;
      margin-top: 5px; }
      .button-menu .button-menu-item .icon p {
        line-height: 15px; }
      .button-menu .button-menu-item .icon img {
        height: 25px; }
    .button-menu .button-menu-item .check {
      color: #1fc1d9; }

.tip {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3); }
  .tip .container {
    width: 260px;
    height: 130px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -65px;
    margin-left: -130px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #696969; }
    .tip .container .tip-text {
      height: 50px;
      text-align: center;
      padding: 20px; }
    .tip .container .tip-btn {
      height: 39px;
      border-top: solid 1px #eeeeee;
      display: flex;
      flex-direction: row;
      flex-flow: nowrap; }
      .tip .container .tip-btn .item:nth-child(2) {
        border-left: solid 1px #eeeeee; }
      .tip .container .tip-btn .item {
        flex: 1;
        text-align: center;
        line-height: 39px;
        color: #1fc1d9; }

.loding {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  display: block; }
  .loding .content {
    text-align: center;
    width: 140px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -70px;
    border-radius: 5px;
    padding-top: 10px;
    background-color: #fff; }
    .loding .content img {
      width: 40px;
      height: 40px; }

/*
* ******主页******
*/
.type {
  padding-left: 5%;
  padding-right: 5%; }
  .type .type-line {
    height: 100px;
    position: relative; }
    .type .type-line .type-item {
      height: 80px;
      width: 80px;
      text-align: center;
      margin-top: 10px; }
      .type .type-line .type-item .type-icon {
        text-align: center; }
        .type .type-line .type-item .type-icon img {
          height: 50px; }
    .type .type-line .middle {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -40px;
      margin-left: -40px; }

.tehui {
  border-bottom: solid 1px #eeeeee;
  overflow: hidden; }
  .tehui .tehui-qiang {
    width: 70%;
    height: 100px;
    text-align: center;
    position: relative; }
    .tehui .tehui-qiang .item {
      display: inline-block;
      text-align: center;
      height: 50px;
      width: 200px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -25px;
      margin-left: -100px; }
      .tehui .tehui-qiang .item img {
        height: 50px; }
      .tehui .tehui-qiang .item .item-title {
        text-align: left;
        padding-left: 5px; }
        .tehui .tehui-qiang .item .item-title .title {
          display: block;
          background-color: #FA4B58;
          color: #ffffff;
          margin-right: 3px;
          padding: 5px; }
  .tehui .tehui-tehui {
    width: 28%;
    height: 100px;
    border-left: solid 1px #eeeeee;
    position: relative;
    text-align: center; }
    .tehui .tehui-tehui .item {
      display: inline-block;
      text-align: center;
      height: 80px;
      width: 80px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -40px;
      margin-left: -40px; }
      .tehui .tehui-tehui .item img {
        height: 50px; }

.hot {
  height: 30px;
  border-bottom: solid 1px #eeeeee;
  padding-left: 15px; }
  .hot div {
    height: 20px;
    line-height: 20px;
    margin-top: 7.5px; }
    .hot div img {
      height: 20px; }

/*
* ******产品列表页面******
*/
.filter {
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 10;
  background-color: #fff;
  position: relative;
  border-bottom: solid 1px #eeeeee; }
  .filter .filter-item {
    height: 100%;
    flex: 1;
    border-right: solid 1px #eeeeee; }
    .filter .filter-item img {
      height: 15px;
      width: 15px; }
    .filter .filter-item div {
      height: 15px;
      width: 15px;
      display: inline-block;
      background: url("../../contents/svg/filter-uncheck.svg");
      background-size: contain; }
  .filter .check-color {
    color: #1fc1d9; }
    .filter .check-color div {
      background: url("../../contents/svg/filter-check.svg");
      background-size: contain; }

.drop-menu {
  width: 100%;
  position: absolute;
  top: 91px;
  left: 0px;
  z-index: 10;
  background-color: #fff; }
  .drop-menu .drop-menu-list {
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
    border-bottom: solid 1px #eeeeee; }
    .drop-menu .drop-menu-list li {
      line-height: 40px;
      height: 40px;
      border-bottom: solid 1px #eeeeee; }
      .drop-menu .drop-menu-list li span {
        float: left; }
      .drop-menu .drop-menu-list li div {
        height: 20px;
        width: 20px;
        float: right;
        margin-top: 10px;
        background: url("../../contents/svg/uncheck.svg");
        background-size: contain; }
      .drop-menu .drop-menu-list li img {
        height: 20px;
        margin-top: 10px;
        float: right; }
    .drop-menu .drop-menu-list .li-check div {
      background: url("../../contents/svg/check.svg");
      background-size: contain; }
    .drop-menu .drop-menu-list li:last-child {
      border: none; }
  .drop-menu .drop-menu-grid {
    list-style: none; }
    .drop-menu .drop-menu-grid li {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      height: 60px; }
      .drop-menu .drop-menu-grid li .item {
        flex: 1;
        border-right: solid 1px #eeeeee;
        border-bottom: solid 1px #eeeeee;
        text-align: center;
        padding-top: 7px; }
        .drop-menu .drop-menu-grid li .item img {
          height: 25px; }
        .drop-menu .drop-menu-grid li .item p {
          line-height: 16px; }
      .drop-menu .drop-menu-grid li .item-check {
        color: #1fc1d9;
        border-bottom: solid 2px #1fc1d9; }

.product-bg {
  position: fixed;
  z-index: 1;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%; }

/*
* ******登陆页面******
*/
.login-content .login-item {
  height: 60px;
  border-bottom: solid 1px #eeeeee;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5%;
  margin-right: 5%; }
  .login-content .login-item .login-item-icon {
    width: 20px;
    height: 100%;
    float: left; }
    .login-content .login-item .login-item-icon img {
      width: 20px;
      height: 20px;
      margin-top: 20px; }
  .login-content .login-item .login-item-input {
    margin-left: 30px; }
    .login-content .login-item .login-item-input input {
      height: 40px;
      margin-top: 10px;
      width: 100%;
      border: none;
      outline: none; }

.login-content .login-tip {
  height: 40px;
  margin-left: 5%;
  margin-right: 5%; }
  .login-content .login-tip .login-tip-item {
    float: left;
    margin-right: 20px;
    color: #1fc1d9;
    text-decoration: none; }

/*
** ******用户协议页面******
*/
.agree-container {
  padding: 10px;
  line-height: 22px;
  word-break: break-all; }
  .agree-container .agree-text {
    text-indent: 25px; }
  .agree-container .agree-title {
    font-size: 16px;
    color: #1fc1d9;
    margin-top: 10px; }
  .agree-container .agree-content {
    overflow: hidden; }
    .agree-container .agree-content .item {
      margin-top: 5px; }
    .agree-container .agree-content .list, .agree-container .agree-content .sub-list {
      width: 25px;
      float: left; }
    .agree-container .agree-content .text {
      margin-left: 25px; }
    .agree-container .agree-content .sub-list {
      margin-left: 25px; }
    .agree-container .agree-content .sub-text {
      margin-left: 50px; }
  .agree-container .agree-end {
    margin-top: 20px;
    text-align: right;
    margin-right: 20px; }

/*
** ******注册页面******
*/
.register-content {
  padding: 20px 10px 0; }
  .register-content .item {
    margin-bottom: 15px;
    height: 44px;
    border: solid 1px #D7D7D7; }
    .register-content .item input {
      height: 100%;
      width: 100%;
      text-indent: 10px;
      outline: none;
      border-radius: 0px; }
  .register-content .item-code {
    margin-bottom: 15px;
    height: 44px; }
    .register-content .item-code input {
      height: 100%;
      width: 100%;
      text-indent: 10px;
      outline: none;
      border-radius: 0px; }
    .register-content .item-code .item-input {
      margin-right: 140px;
      border: solid 1px #D7D7D7;
      height: 100%; }
    .register-content .item-code .item-btn {
      width: 130px;
      height: 44px;
      border: solid 1px #D7D7D7; }
    .register-content .item-code .able {
      color: #fff;
      background: #1fc1d9;
      border: none; }
  .register-content .item-tip {
    margin-bottom: 15px;
    height: 44px; }
    .register-content .item-tip a, .register-content .item-tip a:visited {
      color: #1fc1d9; }
  .register-content .item-sex {
    margin-bottom: 15px;
    height: 44px; }
    .register-content .item-sex .button, .register-content .item-sex button, .register-content .item-sex .select-btn {
      height: 44px;
      width: 45%; }
    .register-content .item-sex button {
      border: solid 1px #D7D7D7;
      background-color: #fff; }
    .register-content .item-sex .select-btn {
      border: none;
      background-color: #1fc1d9;
      color: #fff; }
    .register-content .item-sex button:nth-child(1) {
      float: left; }
    .register-content .item-sex button:nth-child(2) {
      float: right; }

/*
** ******个人页面******
*/
.user-content .user {
  height: 80px;
  overflow: hidden;
  background-color: #ffffff;
  border-bottom: solid 1px #dcdcdc; }
  .user-content .user .img {
    height: 60px;
    border-radius: 30px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px; }
  .user-content .user .icon {
    height: 20px;
    float: right;
    margin-top: 30px;
    margin-right: 10px; }
  .user-content .user span {
    line-height: 80px;
    float: left; }

.user-content .item-group {
  list-style: none;
  border-top: solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc;
  margin-top: 20px;
  background-color: #ffffff; }
  .user-content .item-group li {
    overflow: hidden; }
    .user-content .item-group li .icon {
      height: 20px;
      margin-top: 15px;
      float: left;
      margin-left: 20px;
      margin-right: 20px; }
    .user-content .item-group li .text {
      line-height: 50px;
      overflow: hidden;
      border-top: solid 1px #eeeeee; }
      .user-content .item-group li .text span {
        float: left; }
      .user-content .item-group li .text img {
        height: 20px;
        margin-top: 15px;
        float: right;
        margin-right: 10px; }
    .user-content .item-group li .unborder {
      border-top: none; }

/*
** ******我的订单页面******
*/
.myorder-content .filter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 40px;
  background-color: #ffffff; }
  .myorder-content .filter .item {
    flex: 1;
    text-align: center;
    line-height: 40px;
    border-bottom: solid 1px #dcdcdc; }
  .myorder-content .filter .select {
    color: #1fc1d9;
    border-bottom: solid 2px #1fc1d9; }

.myorder-content #order-tip {
  margin: 15px;
  border: solid 1px #dcdcdc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 5px;
  background-color: white;
  height: 50px;
  line-height: 50px;
  text-align: center; }

.myorder-content .order-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  .myorder-content .order-list li {
    margin: 15px 8px 0px 8px;
    border: solid 1px #dcdcdc;
    border-radius: 5px;
    padding: 0 10px;
    background-color: white; }
    .myorder-content .order-list li .order-list-header {
      height: 40px;
      line-height: 40px; }
      .myorder-content .order-list li .order-list-header span:nth-child(1), .myorder-content .order-list li .order-list-header .order-list-header span:nth-child(2) {
        float: left; }
      .myorder-content .order-list li .order-list-header span:nth-child(2) {
        font-size: 10px; }
      .myorder-content .order-list li .order-list-header .order-list-state {
        color: #1fc1d9;
        float: right; }
    .myorder-content .order-list li .order-list-content {
      line-height: 25px;
      border-top: solid 1px #dcdcdc;
      border-bottom: solid 1px #dcdcdc; }
    .myorder-content .order-list li .order-list-footer {
      height: 40px; }
      .myorder-content .order-list li .order-list-footer .order-btn, .myorder-content .order-list li .order-list-footer .order-btn-finish, .myorder-content .order-list li .order-list-footer .order-btn-unfinish {
        float: right;
        margin-left: 10px;
        height: 25px;
        width: 90px;
        margin-top: 7.5px;
        border-radius: 3px; }
      .myorder-content .order-list li .order-list-footer .order-btn-finish {
        border: solid 1px #959595;
        background-color: #ffffff; }
      .myorder-content .order-list li .order-list-footer .order-btn-unfinish {
        border: solid 1px #1fc1d9;
        color: #1fc1d9;
        background-color: #ffffff; }

/*
** ******代金券页面******
*/
.cush-active {
  height: 44px;
  width: 90%;
  background-color: white;
  border: none;
  margin-left: 5%;
  margin-top: 15px; }
  .cush-active .cush-input {
    border: none;
    line-height: 44px;
    text-indent: 5px;
    width: 80%;
    float: left; }
  .cush-active .cush-btn {
    border: none;
    width: 20%;
    height: 100%;
    background-color: white;
    float: left;
    border-left: solid 1px #EFEFF4; }

.cush-tip {
  margin: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 5px;
  background-color: white;
  height: 50px;
  line-height: 50px;
  text-align: center; }

.cush-active-tip {
  margin-bottom: 30px;
  height: 40px;
  line-height: 40px;
  margin-right: 5%; }
  .cush-active-tip a:link, .cush-active-tip a:visited, .cush-active-tip a:hover, .cush-active-tip a:active {
    text-decoration: none;
    color: #FF9A00;
    background-color: transparent;
    display: block;
    float: right;
    margin-left: 20px;
    position: relative; }

.item-template .left, .cush-item .left, .overcush-item .left {
  margin-left: 20px;
  float: left; }

.item-template .right, .cush-item .right, .overcush-item .right {
  margin-right: 20px;
  float: right; }

.item-template .unable, .cush-item .unable, .overcush-item .unable {
  color: #959595;
  text-decoration: line-through; }

.item-template .cush-money, .cush-item .cush-money, .overcush-item .cush-money {
  height: 100px; }

.item-template .cush-money-have, .cush-item .cush-money-have, .overcush-item .cush-money-have {
  height: 80px;
  line-height: 80px; }

.item-template .cush-money-have span:nth-child(2), .cush-item .cush-money-have span:nth-child(2), .overcush-item .cush-money-have span:nth-child(2) {
  font-size: 30px; }

.item-template .cush-data, .cush-item .cush-data, .overcush-item .cush-data {
  height: 50px;
  line-height: 50px; }

.cush-item {
  background: url("../../contents/img/cush-bg.png");
  height: 150px;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  position: relative;
  color: #FF9A00; }

/*
** ******过期代金券******
*/
.overcush-item {
  background: url("../../contents/img/cush-bg-un.png");
  height: 150px;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  position: relative;
  color: grey; }
  .overcush-item .capter {
    position: absolute;
    left: 60px;
    top: 70px;
    height: 30px;
    width: 60px;
    padding: 2px;
    border: solid grey 2px;
    text-align: center;
    line-height: 30px;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg); }

#cush-body #order-tip {
  margin: 15px;
  border: solid 1px #dcdcdc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 5px;
  background-color: white;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: none; }

/*
** ******个人信息页面******
*/
.userinfo-content .img-item {
  height: 80px;
  overflow: hidden;
  background-color: #ffffff;
  border-bottom: solid 1px #dcdcdc; }
  .userinfo-content .img-item .img {
    height: 60px;
    border-radius: 5px;
    float: right;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px; }
  .userinfo-content .img-item .icon {
    height: 20px;
    float: right;
    margin-top: 30px;
    margin-right: 10px; }
  .userinfo-content .img-item span {
    line-height: 80px;
    float: left;
    margin-left: 15px; }

.userinfo-content .item-group {
  list-style: none;
  border-top: solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc;
  margin-top: 20px;
  background-color: #ffffff; }
  .userinfo-content .item-group li {
    overflow: hidden;
    margin-left: 15px; }
    .userinfo-content .item-group li .text {
      line-height: 50px;
      overflow: hidden;
      border-top: solid 1px #eeeeee; }
      .userinfo-content .item-group li .text span:nth-child(1) {
        float: left; }
      .userinfo-content .item-group li .text span:nth-child(3) {
        float: right;
        margin-right: 10px; }
      .userinfo-content .item-group li .text img {
        height: 20px;
        margin-top: 15px;
        float: right;
        margin-right: 10px; }
    .userinfo-content .item-group li .unborder {
      border-top: none; }

.userinfo-content .userinfo-tip {
  height: 60px;
  margin: 10px 15px 0px;
  color: #1fc1d9; }

/*
** ******亲友页面******
*/
.friend-content .friend-tip {
  text-align: center;
  height: 60px;
  line-height: 60px;
  display: none; }

.friend-content .item-group {
  list-style: none;
  border-top: solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc;
  margin-bottom: 20px;
  background-color: #ffffff; }
  .friend-content .item-group li {
    overflow: hidden;
    margin-left: 15px; }
    .friend-content .item-group li .text {
      line-height: 50px;
      overflow: hidden;
      border-top: solid 1px #eeeeee; }
      .friend-content .item-group li .text span:nth-child(1) {
        float: left; }
      .friend-content .item-group li .text span:nth-child(3) {
        float: right;
        margin-right: 10px; }
      .friend-content .item-group li .text img {
        height: 20px;
        margin-top: 15px;
        float: right;
        margin-right: 10px; }
    .friend-content .item-group li .unborder {
      border-top: none; }

/*
** ******修改信息页面******
*/
.change {
  border-top: solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc;
  height: 44px;
  background-color: #fff;
  margin-top: 20px; }
  .change .text {
    float: left;
    width: 80px;
    height: 100%;
    line-height: 44px;
    text-align: center; }
  .change .input {
    height: 100%;
    margin-left: 80px; }
    .change .input input {
      width: 100%;
      height: 100%; }
    .change .input div {
      float: left;
      margin-top: 6px;
      margin-right: 10px;
      text-align: center;
      height: 30px;
      width: 60px;
      border: solid 1px #dcdcdc;
      line-height: 30px;
      background-color: #fff; }
    .change .input .select {
      border: none;
      border: solid 1px #1fc1d9;
      background-color: #1fc1d9;
      color: #fff; }
  .change button {
    margin-top: 20px; }

/*
** ******免费抢单页面******
*/
.grab-order-content {
  list-style: none;
  background-color: #fff; }
  .grab-order-content li {
    margin: 0px 10px;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    border-bottom: solid 1px #dcdcdc; }
    .grab-order-content li .title {
      width: 80px;
      float: left;
      text-align: center; }
    .grab-order-content li .text {
      margin-left: 100px; }

.grab-imgtip {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 30;
  height: 100%;
  width: 100%; }
  .grab-imgtip div {
    width: 282px;
    height: 288px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -141px;
    margin-top: -144px; }
    .grab-imgtip div img {
      height: 100%; }

/*
** ******特惠页面******
*/
.discount-filter {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 40px;
  text-align: center;
  line-height: 40px; }
  .discount-filter div {
    flex: 1;
    border-bottom: solid 1px #eeeeee; }
  .discount-filter div:first-child {
    border-right: solid 1px #eeeeee; }
  .discount-filter .select-color {
    color: #1fc1d9;
    border-bottom: solid 2px #1fc1d9; }

/*
** ******订单确认页面*****
*/
.order-content .orderinfo {
  list-style: none;
  padding: 0px 10px 0px 10px; }
  .order-content .orderinfo li {
    border-bottom: solid 1px #eeeeee;
    line-height: 35px; }
    .order-content .orderinfo li .title {
      width: 80px;
      height: 100%;
      float: left; }
    .order-content .orderinfo li .text {
      margin-left: 80px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .order-content .orderinfo li .text div {
        display: inline-block;
        border: none;
        background-color: #1fc1d9;
        color: #fff;
        height: 30px;
        width: 90px;
        border-radius: 5px;
        text-align: center;
        line-height: 30px; }

.order-content .quan {
  height: 60px;
  line-height: 60px; }
  .order-content .quan div {
    float: right;
    height: 50px;
    width: 50px;
    background: url("../../contents/svg/switch-off.svg");
    background-size: contain;
    margin-top: 5px;
    margin-right: 10px; }
  .order-content .quan img {
    height: 20px;
    margin-left: 10px; }
  .order-content .quan .check {
    background: url("../../contents/svg/switch-on.svg");
    background-size: contain; }

.order-content .money {
  color: #1fc1d9; }

.order-content .makeorder-tip {
  margin: 0px 10px 0px 10px; }

.markorder-menu {
  position: fixed;
  z-index: 10;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #F8F8F8;
  height: 50px;
  color: #7C8085;
  box-shadow: 0px -3px 5px #eee; }
  .markorder-menu .order-btn, .markorder-menu .myorder-content .order-list li .order-list-footer .order-btn-finish, .myorder-content .order-list li .order-list-footer .markorder-menu .order-btn-finish, .markorder-menu .myorder-content .order-list li .order-list-footer .order-btn-unfinish, .myorder-content .order-list li .order-list-footer .markorder-menu .order-btn-unfinish {
    width: 100px;
    height: 100%;
    background-color: #1fc1d9;
    color: #ffffff;
    font-size: 16px;
    float: right;
    text-align: center;
    line-height: 50px; }
  .markorder-menu .order-text {
    margin-right: 100px;
    margin-left: 10px;
    height: 100%;
    color: #7C8085;
    line-height: 22px; }
    .markorder-menu .order-text .money {
      color: #1fc1d9; }
  .markorder-menu .disable {
    background-color: gray; }

/*
** ******订单支付页面******
*/
.pay-content {
  padding: 0px 10px 0px 10px; }
  .pay-content .pay-title {
    padding-top: 35px;
    height: 65px;
    border-bottom: solid 1px #dcdcdc; }
    .pay-content .pay-title img {
      height: 20px;
      margin-left: 10px;
      margin-right: 20px;
      float: left; }
    .pay-content .pay-title .title-text {
      float: left; }
      .pay-content .pay-title .title-text .money {
        color: #1fc1d9; }
  .pay-content .pay-item {
    height: 100px;
    line-height: 100px;
    border-top: solid 1px #dcdcdc;
    border-bottom: solid 1px #dcdcdc; }
    .pay-content .pay-item img:first-child {
      height: 40px;
      margin-right: 10px;
      float: left;
      margin-top: 30px; }
    .pay-content .pay-item img:last-child {
      height: 20px;
      float: right;
      margin-top: 40px; }

/*
** ******支付结果页面******
*/
.payresult-content .result-header {
  height: 150px;
  position: relative;
  border-bottom: solid 1px #dcdcdc;
  background-color: #fff; }
  .payresult-content .result-header .container {
    width: 100px;
    height: 80px;
    text-align: center;
    color: #CF123E;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -40px; }
    .payresult-content .result-header .container div {
      height: 60px;
      width: 60px;
      display: inline-block;
      background: url("../../contents/svg/pay-fail.svg");
      background-size: contain; }
  .payresult-content .result-header .success {
    color: #00CC00; }
    .payresult-content .result-header .success div {
      background: url("../../contents/svg/pay-success.svg");
      background-size: contain; }

.payresult-content .item-group {
  list-style: none;
  border-top: solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc;
  margin-top: 20px;
  background-color: #ffffff; }
  .payresult-content .item-group li {
    overflow: hidden; }
    .payresult-content .item-group li .icon {
      height: 20px;
      margin-top: 15px;
      float: left;
      margin-left: 20px;
      margin-right: 20px; }
    .payresult-content .item-group li .text {
      line-height: 50px;
      overflow: hidden;
      border-top: solid 1px #eeeeee; }
      .payresult-content .item-group li .text span {
        float: left; }
      .payresult-content .item-group li .text img {
        height: 20px;
        margin-top: 15px;
        float: right;
        margin-right: 10px; }
    .payresult-content .item-group li .unborder {
      border-top: none; }

/*
** *****项目详情页面******
*/
.detail-content .img-wrap {
  background-color: #fff;
  border-bottom: solid 1px #dcdcdc; }
  .detail-content .img-wrap .img {
    position: relative; }
    .detail-content .img-wrap .img img {
      width: 100%;
      height: 160px; }
    .detail-content .img-wrap .img .img-description {
      background: rgba(66, 41, 6, 0.6);
      color: #fff;
      bottom: 0;
      position: absolute;
      width: 100%; }
      .detail-content .img-wrap .img .img-description p {
        margin: 10px 15px; }
  .detail-content .img-wrap .money {
    padding: 10px 15px;
    overflow: hidden; }
    .detail-content .img-wrap .money .container {
      overflow: hidden; }
    .detail-content .img-wrap .money .dealMoney {
      border: solid 1px #FF5A00;
      height: 30px;
      line-height: 30px;
      text-align: center;
      float: left; }
      .detail-content .img-wrap .money .dealMoney .text {
        color: #FF5A00;
        float: left;
        padding: 0px 5px; }
      .detail-content .img-wrap .money .dealMoney .btn {
        background-color: #FF5A00;
        float: left;
        color: #fff;
        padding: 0px 5px; }
    .detail-content .img-wrap .money .sourceMoney {
      height: 32px;
      line-height: 32px;
      color: #959595;
      margin-top: 5px; }
      .detail-content .img-wrap .money .sourceMoney span:nth-child(2) {
        text-decoration: line-through; }
      .detail-content .img-wrap .money .sourceMoney span:nth-child(3) {
        float: right; }

.detail-content .doc-content {
  margin-top: 20px;
  list-style: none;
  background-color: #fff;
  border-top: solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc; }
  .detail-content .doc-content li {
    margin: 10px 10px 0px 10px; }
    .detail-content .doc-content li .docImg {
      height: 94px;
      width: 70px;
      float: left; }
    .detail-content .doc-content li .text {
      margin-left: 80px;
      border-bottom: solid 1px #eeeeee; }
      .detail-content .doc-content li .text .text-header {
        margin-bottom: 10px; }
      .detail-content .doc-content li .text .text-description span:nth-child(2) {
        font-size: 12px;
        color: #959595; }
      .detail-content .doc-content li .text .time {
        height: 40px;
        line-height: 30px;
        margin-top: 10px; }
        .detail-content .doc-content li .text .time div {
          display: inline-block;
          background-color: #1fc1d9;
          color: #fff;
          height: 30px; }
          .detail-content .doc-content li .text .time div img {
            height: 20px;
            margin-top: 5px; }
          .detail-content .doc-content li .text .time div span {
            float: right;
            line-height: 30px; }
        .detail-content .doc-content li .text .time .select-time {
          float: right;
          color: #1fc1d9; }
        .detail-content .doc-content li .text .time .selected {
          font-size: 12px; }
        .detail-content .doc-content li .text .time .arrow {
          height: 20px;
          margin-top: 5px;
          float: right; }
  .detail-content .doc-content li:last-child .text {
    border: none; }

.detail-content .product {
  margin-top: 20px;
  background-color: #fff;
  border-top: solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc;
  padding: 15px; }
  .detail-content .product .product-header {
    height: 30px;
    line-height: 30px;
    border-bottom: solid 1px #eee; }
  .detail-content .product .img {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative; }
    .detail-content .product .img img {
      width: 47%; }
    .detail-content .product .img img:last-child {
      float: right; }
  .detail-content .product .img-tip, .detail-content .product .products::before, .detail-content .product .products::after {
    height: 20px;
    width: 25px;
    background-color: #1fc1d9;
    color: #fff;
    text-align: center; }
  .detail-content .product .products::before {
    content: "前";
    position: absolute; }
  .detail-content .product .products::after {
    content: "后";
    position: absolute;
    right: 0px; }
  .detail-content .product .text {
    padding-top: 10px;
    font-size: 12px;
    color: #959595; }
  .detail-content .product .hos-title {
    padding-bottom: 10px;
    border-bottom: solid 1px #eee; }
    .detail-content .product .hos-title .address {
      font-size: 12px;
      color: #959595; }

.select-times {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: #EFEFF4;
  overflow-y: scroll; }
  .select-times .pad {
    height: 100px; }
  .select-times ul {
    background-color: #fff;
    border-bottom: solid 1px #dcdcdc;
    list-style: none;
    margin-top: 50px; }
    .select-times ul li {
      border-bottom: solid 1px #eee;
      position: relative; }
      .select-times ul li .day {
        width: 120px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 0px;
        margin-top: -20px;
        color: #1fc1d9; }
      .select-times ul li .time {
        margin-left: 120px; }
        .select-times ul li .time .item {
          height: 40px;
          line-height: 40px;
          border-bottom: solid 1px #eee;
          margin-right: 10px; }
        .select-times ul li .time .item:last-child {
          border: none; }
        .select-times ul li .time .icon {
          display: inline-block;
          float: right;
          height: 20px;
          width: 20px;
          margin-top: 10px;
          background: url("../../contents/svg/uncheck.svg");
          background-size: contain; }
        .select-times ul li .time .check {
          background: url("../../contents/svg/check.svg");
          background-size: contain; }
    .select-times ul li:last-child {
      border: none; }
