@import "tool.scss";
/*
* ******全局变量******
*/
$line-color:#eeeeee;
$font-size:14px;
$color:#000000;
$small-font-size:12px;
$large-font-size:16px;
//标题头变量
$header-background-color:#1fc1d9;
$header-color:#fff;
$header-height:50px;
$header-padding:15px;
//底部菜单栏变量
$bottom-menu-bg:#F8F8F8;
$bottom-line-bg:#9f9f9f;
$bottom-menu-height:50px;
$bottom-icon-height:40px;
//产品列表筛选
$filter-height:40px;

/*
* ******全局样式******
*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,input{
    margin:0;padding:0;border:0;
}
input,button{
	font-size: $font-size;
}
body{
	color:$color;
	font-size:$font-size;
	font-family: "微软雅黑",Helvetica,Sans-serif;
	-webkit-tap-highlight-color:rgba(255,255,255,0);
}

/*
* ******基础样式******
*/
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.margin-l{
	margin-left: 5px;
}
.margin-r{
	margin-right:5px;
}
.base-separator{
	@include separate(10px,#eeeeee,#eeeeee);
}
.large-separator{
	@include separate(24px,#eeeeee,#eeeeee);
}
.has-header{
	height:$header-height;
	width: 100%;
}
.has-menu{
	height: $bottom-menu-height;
	width: 100%;
}
.has-user-menu{
	height:55px;
	width: 100%;
}
.check-color{
	color:#1fc1d9;
}
.overflowhide{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
}

//整宽按钮
.button-full{
	width:100%;
	height:40px;
	background-color: $header-background-color;
	color:$header-color;
	border: none;
	margin-bottom:20px;
}

//标题头
.header{
    position: fixed;
    top: 0px;
    width:100%;
    height:$header-height;
    background-color: $header-background-color;
    color: $header-color;
    text-align: center;
    z-index: 20;
    .title{
		$title-height:30px;
		$title-width:100px;
		height:$title-height;
		width: $title-width;
		line-height: $title-height;
        font-size: $large-font-size;
		@include hor-abosult-center($title-height,$title-width);
    }
	.header-item{
		$item-height:40px;
		height:$item-height;
		width:$item-height;
		line-height: $item-height;
		@include vertical-center($header-height,$item-height);
		a{
			display: inline-block;
			height:100%;
			width:100%;
		}
		img{
			height:20px;
			vertical-align: middle;
		}

	}
	.header-item-width{
		width:80px;
	}

}

//产品列表
.prduct-container{
	$con-padding:10px;
	padding-left: $con-padding;
	padding-right:$con-padding;
	overflow: hidden;
	list-style: none;
	.item{
		$img-height:80px;
		padding-top: $con-padding;
		padding-bottom: $con-padding;
		overflow: hidden;
		border-bottom: solid 1px $line-color;
		.item-img{
			height:$img-height;
			width:$img-height;
			margin-right: 5px;
			border-radius: 2px;
		}
		.item-desc{
			margin-left:($img-height+10px);
			.item-subhead{
				font-size: $small-font-size;
				margin-top: 5px;
			}
			.score{
				color:$header-background-color;
				margin-top: 5px;
			}
			.item-price{
				overflow: hidden;
				margin-top: 18px;
				div{
					line-height: 20px;
				}
				.item-count{
					font-size: $small-font-size;
				}
				.vip{
					color:#1fc1d9;
				}
				.saleprice{
					color: #1fc1d9;;
				}
				.priceType{
					color:#1fc1d9;
					font-size:$small-font-size;
				}
				.price{
					font-size:$small-font-size;
					text-decoration: line-through;
					color:#959595;
				}
			}
		}
		.exam-desc{
			margin-left: 10px;
		}
		.item-qiang{
			$bg-color:#FF5A00;
			border:solid 1px $bg-color;
			height:30px;
			line-height: 30px;
			text-align: center;
			margin-top: 5px;
			.text{
				color:#959595;
				margin-right:80px;
				text-decoration:line-through;
			}
			.btn{
				width:80px;
				background-color:$bg-color;
				float:right;
				color:#fff;
			}
		}
		.no{
			border: solid 1px #959595;
			.btn{
				background-color: #959595;
			}
		}
	}
}

//底部菜单
.button-menu{
	$color:#9f9f9f;
	position: fixed;
	z-index: 20;
	bottom: 0px;
	left: 0px;
	width:100%;
	background-color: $bottom-menu-bg;
	height:$bottom-menu-height;
	border-top: solid 1px $bottom-line-bg;
	color:$color;
	.button-menu-item{
		width:25%;
		height: 100%;
		float: left;
		text-align: center;
		.icon{
			display: inline-block;
			text-align: center;
			height:$bottom-icon-height;
			font-size: $small-font-size;
			@include vertical-center($bottom-menu-height,$bottom-icon-height);
			p{
				line-height: 15px;
			}
			div{
				height:25px;
				width:25px;
			}
			.homeIcon{
				background:url("../../contents/svg/home-uncheck.svg");
				background-size: contain;
			}
			.doctorIcon{
				background:url("../../contents/svg/doctor-uncheck.svg");
				background-size: contain;
			}
			.InteractionIcon{
				background:url("../../contents/svg/hudong-uncheck.svg");
				background-size: contain;
			}
			.userIcon{
				background:url("../../contents/svg/user-uncheck.svg");
				background-size: contain;
			}
		}
		.check {
			color:$header-background-color;
			.homeIcon{
				background:url("../../contents/svg/home-check.svg");
				background-size: contain;
			}
			.doctorIcon{
				background:url("../../contents/svg/doctor-check.svg");
				background-size: contain;
			}
			.InteractionIcon{
				background:url("../../contents/svg/hudong-check.svg");
				background-size: contain;
			}
			.userIcon{
				background:url("../../contents/svg/user-check.svg");
				background-size: contain;
			}
		}
	}
}

//提示框
.tip{
	position: fixed;
	top: 0px;
	left:0px;
	height:100%;
	width:100%;
	z-index: 100;
	background-color: rgba(0,0,0,0.3);
	.container{
		$tip-width:260px;
		$tip-height:130px;
		width: $tip-width;
		height: $tip-height;
		border-radius: 5px;
		@include hor-abosult-center($tip-height,$tip-width);
		background-color: #fff;
		box-shadow: 0px 0px 10px #696969;
		.tip-text{
			height:50px;
			text-align: center;
			padding: 20px;
		}
		.tip-btn{
			height:39px;
			border-top: solid 1px $line-color;
			display: -webkit-box;
			display: flex;
			flex-direction: row;
			flex-flow: nowrap;
			.item:nth-child(2){
				border-left:solid 1px $line-color;
			}
			.item{
				/*解决ios8.0+下不等分问题*/
				width:100%;
				-webkit-box-flex: 1.0;
				-moz-box-flex: 1.0;
				flex:1.0;
				text-align: center;
				line-height: 39px;
				color:$header-background-color;
			}
		}
	}

}
//loding动画
.loding{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:100;
	background-color:rgba(0,0,0,0.4);
	display: block;
	.content{
		text-align: center;
		width:140px;
		height:70px;
		position:absolute;
		left:50%;
		top:50%;
		margin-top:-35px;
		margin-left:-70px;
		border-radius:5px;
		padding-top: 10px;
		background-color:#fff;
		img{
			width:40px;
			height:40px;
		}
	}
}

/*
* ******主页******
*/
//项目分类
.type{
	padding-left: 5%;
	padding-right: 5%;
	$type-line-height:100px;
	$type-item-height:80px;
	$type-item-width:80px;
	.type-line{
		height:$type-line-height;
		position: relative;
		.type-item{
			height:$type-item-height;
			width:$type-item-width;
			text-align: center;
			@include vertical-center($type-line-height,$type-item-height);
			.type-icon{
				text-align: center;
				img{
					height:50px;
				}
			}
		}
		.middle{
			@include hor-abosult-center($type-item-height,$type-item-width);
		}
	}
}

//特惠专区
.tehui{
	$line-height:100px;

	border-bottom:solid 1px $line-color;
	overflow: hidden;
	.tehui-qiang{
		width:70%;
		height:$line-height;
		text-align: center;
		position: relative;
		.item{
			$item-height:50px;
			$item-width:200px;
			display: inline-block;
			text-align: center;
			height:$item-height;
			width:$item-width;
			@include hor-abosult-center($item-height,$item-width);
			img{
				height:50px;
			}
			.item-title{
				text-align: left;
				padding-left: 5px;
				.title{
					display: block;
					background-color: #FA4B58;
					color:#ffffff;
					margin-right: 3px;
					padding: 5px;
				}
			}
		}
	}
	.tehui-tehui{
		$item-height:80px;
		$item-width:$item-height;
		width:28%;
		height:$line-height;
		border-left: solid 1px $line-color;
		position: relative;
		text-align: center;
		.item{
			display: inline-block;
			text-align: center;
			height:$item-height;
			width:$item-width;
			@include hor-abosult-center($item-height,$item-width);
			img{
				height:50px;
			}
		}
		.sales{
			color:#1FC1D9;
		}
	}
}

//热门专区

.hot{
	$hot-height:35px;
	height:30px;
	border-bottom: solid 1px $line-color;
	padding-left: 15px;
	div{
		$item-height:20px;
		height:$item-height;
		line-height: $item-height;
		@include vertical-center($hot-height,$item-height);
		img{
			height:$item-height;
		}
	}
}

/*
* ******产品列表页面******
*/
//filter
.filter{
	height:$filter-height;
	line-height: $filter-height;
	text-align: center;
	display: -webkit-box;
	display:flex;
	flex-direction:row;
	flex-wrap: nowrap;
	z-index: 10;
	background-color: #fff;
	position: relative;
	border-bottom:solid 1px $line-color;
	.filter-item{
		height: 100%;
		width:100%;
		-webkit-box-flex: 1.0;
		-moz-box-flex: 1.0;
		flex:1.0;
		border-right: solid 1px $line-color;
		img{
			height:15px;
			width:15px
		}
		div{
			height: 15px;
			width:15px;
			display: inline-block;
			background: url("../../contents/svg/filter-uncheck.svg");
			background-size: contain;
		}
	}
	.filter-item:last-child{
		border-right: none;
	}
	.check-color{
		color:$header-background-color;
		div{
			background: url("../../contents/svg/filter-check.svg");
			background-size: contain;
		}
	}
}

//下拉列表
.drop-menu{
	width:100%;
	position: absolute;
	top:91px;
	left:0px;
	z-index:10;
	background-color: #fff;
	.drop-menu-list{
		padding-left: 10px;
		padding-right: 10px;
		list-style: none;
		border-bottom: solid 1px $line-color;
		li{
			$li-height:40px;
			line-height: 40px;
			height:$li-height;
			border-bottom: solid 1px $line-color;
			span{
				float: left;
			}
			div{
				height:20px;
				width:20px;
				float:right;
				@include vertical-center($li-height,20px);
				background:url("../../contents/svg/uncheck.svg");
				background-size:contain;
			}
			img{
				height:20px;
				@include vertical-center($li-height,20px);
				float:right;
			}
		}
		.li-check{
			div{
				background:url("../../contents/svg/check.svg");
				background-size:contain;
			}
		}
		li:last-child{
			border: none;
		}
	}
	.drop-menu-grid{
		list-style: none;
		li{
			$line-height: 60px;
			display: -webkit-box;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			height: $line-height;
			.item{
				width:100%;
				-webkit-box-flex: 1.0;
				-moz-box-flex: 1.0;
				flex:1.0;
				border-right: solid 1px $line-color;
				border-bottom: solid 1px $line-color;
				text-align: center;
				padding-top:7px;
				img{
					height:25px;
				}
				p{
					line-height: 16px;
				}
			}
			.item-check{
				color:$header-background-color;
				border-bottom: solid 2px $header-background-color;
			}
		}
	}
}
.exam-drop-menu{
	top:133px;
}
.product-bg{
	position: fixed;
    z-index: 1;
	top:0px;
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
}

/*
* ******登陆页面******
*/

.login-content{
	$margin:5%;
    .login-item{
		$item-height:60px;
        height:$item-height;
        border-bottom: solid 1px $line-color;
        margin-top: 5px;
        margin-bottom: 5px;
		margin-left: $margin;
		margin-right:$margin;
        .login-item-icon{
            width:20px;
            height:100%;
            float: left;
            img{
                width:20px;
                height:20px;
                margin-top: 20px;
            }
        }
        .login-item-input{
			margin-left: 30px;
            input{
				$input-height:40px;
				height:$input-height;
				@include vertical-center($item-height,$input-height);
				width:100%;
				border: none;
				outline: none;
			}
        }
    }
	.login-tip{
	    height:40px;
		margin-left: $margin;
		margin-right:$margin;
	    .login-tip-item{
	        float: left;
	        margin-right:20px;
	        color:$header-background-color;
	        text-decoration: none;
	    }
	}
}

/*
** ******用户协议页面******
*/
.agree-container{
	padding:10px;
	line-height: 22px;
	word-break: break-all;
	.agree-text{
		text-indent: 25px;
	}
	.agree-title{
		font-size: $large-font-size;
		color:$header-background-color;
		margin-top: 10px;
	}
	.agree-content{
		overflow: hidden;
		.item{
			margin-top: 5px;
		}
		.list{
			width:25px;
			float:left;
		}
		.text{
			margin-left: 25px;
		}
		.sub-list{
			@extend .list;
			margin-left:25px;
		}
		.sub-text{
			margin-left: 50px;
		}
	}
	.agree-end{
		margin-top: 20px;
		text-align: right;
		margin-right:20px;
	}
}

/*
** ******注册页面******
*/
.register-content{
	padding: 20px 10px 0;
	.item{
		margin-bottom: 15px;
		height:44px;
		border: solid 1px #D7D7D7;
		input{
			height:100%;
			width:100%;
			text-indent: 10px;
			outline: none;
			border-radius: 0px;
		}
	}
	.item-code{
		margin-bottom: 15px;
		height:44px;
		input{
			height:100%;
			width:100%;
			text-indent: 10px;
			outline: none;
			border-radius: 0px;
		}
		.item-input{
			margin-right:140px;
			border: solid 1px #D7D7D7;
			height:100%;
		}
		.item-btn{
			width:130px;
			height:44px;
			border: solid 1px #D7D7D7;
		}
		.able{
			color:#fff;
			background: $header-background-color;
			border: none;
		}
	}
	.item-tip{
		margin-bottom: 15px;
		height:44px;
		a,a:visited{
			color:$header-background-color;
		}
	}
	.item-sex{
		margin-bottom: 15px;
		height:44px;
		.button{
			height:44px;
			width:45%;
		}
		button{
			@extend .button;
			border: solid 1px #D7D7D7;
			background-color:#fff;
		}
		.select-btn{
			@extend .button;
			border:none;
			background-color:$header-background-color;
			color:#fff;
		}
		button:nth-child(1){
			float:left;
		}
		button:nth-child(2){
			float:right;
		}
	}
}

/*
** ******个人页面******
*/
.user-content{
	$group-line-color:#dcdcdc;
	.user{
		$height:80px;
		$img-height:60px;
		$icon-height:20px;
		height:$height;
		overflow: hidden;
		background-color: #ffffff;
		border-bottom:solid 1px $group-line-color;
		.img{
			height:$img-height;
			border-radius: 30px;
			float: left;
			@include vertical-center($height,$img-height);
			margin-left: 10px;
			margin-right:10px;
		}
		.icon{
			height:$icon-height;
			float: right;
			@include vertical-center($height,$icon-height);
			margin-right: 10px;
		}
		span{
			line-height: $height;
			float: left;
		}
	}
	.item-group{
		$item-height:50px;
		$item-icon-height:20px;
		list-style: none;
		border-top: solid 1px $group-line-color;
		border-bottom:solid 1px $group-line-color;
		margin-top: 20px;
		background-color: #ffffff;
		li{
			overflow: hidden;
			.icon{
				height:$item-icon-height;
				@include vertical-center($item-height,$item-icon-height);
				float: left;
				margin-left: 20px;
				margin-right:20px;
			}
			.text{
				line-height: $item-height;
				overflow: hidden;
				border-top:solid 1px $line-color;
				span{
					float: left;
				}
				img{
					height:$item-icon-height;
					@include vertical-center($item-height,$item-icon-height);
					float: right;
					margin-right: 10px;
				}
			}
			.unborder{
				border-top: none;
			}
		}
	}
}

/*
** ******我的订单页面******
*/
.myorder-content{
	.filter{
		display: -webkit-box;
		display:flex;
		flex-direction: row;
		flex-wrap: nowrap;
		height:40px;
		background-color:#ffffff;
		.item{
			width:100%;
			-webkit-box-flex: 1.0;
			-moz-box-flex: 1.0;
			flex:1.0;
			text-align: center;
			line-height: 40px;
			border-bottom: solid 1px #dcdcdc;
		}
		.select{
			color:$header-background-color;
			border-bottom: solid 2px $header-background-color;
		}
	}
	#order-tip{
	    margin:15px;
	    border:solid 1px #dcdcdc;
	    -webkit-border-radius:3px;
	    -moz-border-radius:3px;
	    border-radius:5px;
	    background-color: white;
	    height:50px;
	    line-height:50px;
	    text-align: center;
	}
	.order-list{
	    list-style-type: none;
	    padding:0px;
	    margin:0px;
		li{
		    margin:15px 8px 0px 8px;
		    border:solid 1px #dcdcdc;
		    border-radius:5px;
		    padding:0 10px;
		    background-color: white;
			.order-list-header{
			    height:40px;
			    line-height:40px;

				span:nth-child(1),.order-list-header span:nth-child(2){
				    float: left;
				}
				span:nth-child(2){
				    font-size:10px;
				}
				.order-list-state{
				    color: $header-background-color;
				    float: right;
				}
			}
			.order-list-content{
			    line-height: 25px;
			    border-top:solid 1px #dcdcdc;
			    border-bottom:solid 1px #dcdcdc;
			}
			.order-list-footer{
				$footer-height:40px;
				$btn-height:25px;
				$btn-width:90px;
			    height:$footer-height;
				.order-btn{
					float: right;
				    margin-left:10px;
					height:$btn-height;
				    width:$btn-width;
					@include vertical-center($footer-height,$btn-height);
					border-radius:3px;
				}
				.order-btn-finish{
					@extend .order-btn;
				    border:solid 1px #959595;
				    background-color: #ffffff;

				}
				.order-btn-unfinish{
					@extend .order-btn;
				    border:solid 1px $header-background-color;
				    color: $header-background-color;
					background-color:#ffffff;
				}
			}
		}
	}
}

/*
** ******代金券页面******
*/
.cush-active{
    height:44px;
    width:90%;
    background-color: white;
    border:none;
    margin-left:5%;
    margin-top:15px;
	.cush-input{
	    border:none;
	    line-height: 44px;
	    text-indent:5px;
	    width:80%;
	    float: left;
	}
	.cush-btn{
	    border:none;
	    width:20%;
		height:100%;
	    background-color: white;
	    float:left;
		border-left: solid 1px #EFEFF4;
	}
}
.cush-tip{
	margin:15px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:5px;
	background-color: white;
	height:50px;
	line-height:50px;
	text-align: center;
}
.cush-active-tip{
    margin-bottom:30px;
    height:40px;
    line-height:40px;
    margin-right:5%;
	a:link, a:visited, a:hover,a:active{
	    text-decoration: none;
	    color: #FF9A00;
	    background-color: transparent;
	    display: block;
	    float: right;
	    margin-left:20px;
	    position: relative;
	}
}
.item-template{
	.left{
	    margin-left:20px;
	    float: left;
	}
	.right{
	    margin-right:20px;
	    float: right;
	}
	.unable{
	    color: #959595;
	    text-decoration: line-through;
	}
	.cush-money{
	    height:100px;
	}
	.cush-money-have{
	    height:80px;
	    line-height:80px;
	}
	.cush-money-have span:nth-child(2){
	    font-size:30px;
	}
	.cush-data{
	    height:50px;
	    line-height:50px;
	}
}
.cush-item{
    background:url("../../contents/img/cush-bg.png");
    height:150px;
    width:90%;
    margin-left:5%;
    margin-top:20px;
    position:relative;
    color: #FF9A00;
	@extend .item-template;
}

/*
** ******过期代金券******
*/
.overcush-item{
	background:url("../../contents/img/cush-bg-un.png");
	height:150px;
	width:90%;
	margin-left:5%;
	margin-top:20px;
	position:relative;
	color: grey;
	@extend .item-template;
	.capter{
	    position: absolute;
	    left:60px;
	    top:70px;
	    height:30px;
	    width:60px;
	    padding:2px;
	    border:solid grey 2px;
		text-align: center;
		line-height:30px;
	    -webkit-transform: rotate(30deg);
	    -moz-transform: rotate(30deg);
	    -ms-transform: rotate(30deg);
	    -o-transform: rotate(30deg);
	    transform: rotate(30deg);
	}
}
#cush-body{
	#order-tip{
		margin:15px;
		border:solid 1px #dcdcdc;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:5px;
		background-color: white;
		height:50px;
		line-height:50px;
		text-align: center;
		display: none;
	}
}

/*
** ******个人信息页面******
*/
.userinfo-content{
	$group-line-color:#dcdcdc;
	.img-item{
		$height:80px;
		$img-height:60px;
		$icon-height:20px;
		height:$height;
		overflow: hidden;
		background-color: #ffffff;
		border-bottom:solid 1px $group-line-color;
		.img{
			height:$img-height;
			border-radius: 5px;
			float: right;
			@include vertical-center($height,$img-height);
			margin-left: 10px;
			margin-right:10px;
		}
		.icon{
			height:$icon-height;
			float: right;
			@include vertical-center($height,$icon-height);
			margin-right: 10px;
		}
		span{
			line-height: $height;
			float: left;
			margin-left: 15px;
		}
	}
	.item-group{
		$item-height:50px;
		$item-icon-height:20px;
		list-style: none;
		border-top: solid 1px $group-line-color;
		border-bottom:solid 1px $group-line-color;
		margin-top: 20px;
		background-color: #ffffff;
		li{
			overflow: hidden;
			margin-left: 15px;
			.text{
				line-height: $item-height;
				overflow: hidden;
				border-top:solid 1px $line-color;
				span:nth-child(1){
					float: left;
				}
				span:nth-child(3){
					float:right;
					margin-right:10px;
				}
				img{
					height:$item-icon-height;
					@include vertical-center($item-height,$item-icon-height);
					float: right;
					margin-right: 10px;
				}
			}
			.unborder{
				border-top: none;
			}
		}
	}
	.userinfo-tip{
		height:40px;
		margin:10px 15px 0px;
		color:$header-background-color;
	}
}

/*
** ******亲友页面******
*/
.friend-content{
	$group-line-color:#dcdcdc;
	.friend-tip{
		text-align: center;
		height:60px;
		line-height: 60px;
		display: none;
	}
	.item-group{
		$item-height:50px;
		$item-icon-height:20px;
		list-style: none;
		border-top: solid 1px $group-line-color;
		border-bottom:solid 1px $group-line-color;
		margin-bottom: 20px;
		background-color: #ffffff;
		li{
			overflow: hidden;
			margin-left: 15px;
			.text{
				line-height: $item-height;
				overflow: hidden;
				border-top:solid 1px $line-color;
				span:nth-child(1){
					float: left;
				}
				span:nth-child(3){
					float:right;
					margin-right:10px;
				}
				img{
					height:$item-icon-height;
					@include vertical-center($item-height,$item-icon-height);
					float: right;
					margin-right: 10px;
				}
			}
			.unborder{
				border-top: none;
			}
		}
	}
}

/*
** ******修改信息页面******
*/
.change{
	$group-line-color:#dcdcdc;
	border-top: solid 1px $group-line-color;
	border-bottom:solid 1px $group-line-color;
	height:44px;
	background-color:#fff;
	margin-top: 20px;
	.text{
		float:left;
		width:80px;
		height:100%;
		line-height: 44px;
		text-align: center;
	}
	.input{
		height:100%;
		margin-left: 80px;
		input{
			width:100%;
			height:100%;
		}
		div{
			float: left;
			margin-top:6px;
			margin-right:10px;
			text-align: center;
			height:30px;
			width:60px;
			border: solid 1px #dcdcdc;
			line-height: 30px;
			background-color: #fff;
		}
		.select{
			border: none;
			border: solid 1px $header-background-color;
			background-color: $header-background-color;
			color:#fff;
		}
	}
	button{
		margin-top:20px;
	}

}

/*
** ******免费抢单页面******
*/
.grab-order-content{
	$line-color:#dcdcdc;
	list-style: none;
	background-color:#fff;
	li{
		margin:0px 10px;
		overflow: hidden;
		line-height: 40px;
			border-bottom:solid 1px $line-color;
		.title{
			width:80px;
			float:left;
			text-align: center;
		}
		.text{
			margin-left: 100px;
			line-height: 20px;
			margin:{
				top:10px;
				bottom:10px;
			}
		}
	}
}
.grab-imgtip{
	position: fixed;
	top: 0px;
	left:0px;
	background-color: rgba(0,0,0,0.4);
	z-index: 30;
	height:100%;
	width:100%;
	div{
		width:282px;
		height:288px;
		position: absolute;
		left:50%;
		top:50%;
		margin-left:-141px;
		margin-top:-144px;
		img{
			height:100%;
		}
	}
}

/*
** ******特惠页面******
*/
.discount-filter{
	display: -webkit-box;
	display:flex;
	flex-wrap: nowrap;
	flex-direction: row;
	height:40px;
	text-align: center;
	line-height:40px;
	div{
		width:100%;
		-webkit-box-flex: 1.0;
		-moz-box-flex: 1.0;
		flex:1.0;
		border-bottom: solid 1px $line-color;
	}
	div:first-child{
		border-right:solid 1px $line-color;
	}
	.select-color{
		color:$header-background-color;
		border-bottom: solid 2px $header-background-color;
	}
}

/*
** ******订单确认页面*****
*/
.order-content{
	.orderinfo{
		list-style: none;
		padding:0px 10px 0px 10px;
		li{
			border-bottom: solid 1px $line-color;
			line-height: 35px;
			.title{
				width:80px;
				height:100%;
				float: left;
			}
			.text{
				margin-left:80px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				div{
					display: inline-block;
					border: none;
					background-color: #1fc1d9;
					color: #fff;
					height: 30px;
					width: 90px;
					border-radius: 5px;
					text-align: center;
					line-height: 30px;
				}
			}
		}
	}
	.quan{
		height:60px;
		line-height:60px;
		div{
			float:right;
			height:50px;
			width:50px;
			background:url("../../contents/svg/switch-off.svg");
			background-size: contain;
			margin-top: 5px;
			margin-right:10px;
		}
		img{
			height:20px;
			margin-left:10px;
		}
		.check{
			background:url("../../contents/svg/switch-on.svg");
			background-size: contain;
		}
	}
	.money{
		color:$header-background-color;
	}
	.makeorder-tip{
		margin:0px 10px 0px 10px;
	}
}
.markorder-menu{
	$color:#7C8085;
	position: fixed;
	z-index: 10;
	bottom: 0px;
	left: 0px;
	width:100%;
	background-color: $bottom-menu-bg;
	height:$bottom-menu-height;
	color:$color;
	box-shadow: 0px -3px 5px #eee;
	.order-btn{
		width:100px;
		height:100%;
		background-color: $header-background-color;
		color:#ffffff;
		font-size: $large-font-size;
		float:right;
		text-align: center;
		line-height: 50px;
	}
	.order-text{
		margin-right:100px;
		margin-left: 10px;
		height:100%;
		color: $color;
		line-height: 22px;
		.money{
			color:$header-background-color;
		}
	}
	.disable{
		background-color: gray;
	}
}

/*
** ******订单支付页面******
*/
.pay-content{
	padding:0px 10px 0px 10px;
	.pay-title{
		padding-top:35px;
		height:65px;
		border-bottom:solid 1px #dcdcdc;
		img{
			height:20px;
			margin-left:10px;
			margin-right:20px;
			float:left;
		}
		.title-text{
			float: left;
			.money{
				color:$header-background-color;
			}
		}
	}
	.pay-item{
		height:100px;
		line-height: 100px;
		border-top: solid 1px #dcdcdc;
		border-bottom: solid 1px #dcdcdc;
		img:first-child{
			height:40px;
			margin-right:10px;
			float:left;
			margin-top:30px;
		}
		img:last-child{
			height:20px;
			float:right;
			margin-top:40px;
		}
	}
}

/*
** ******支付结果页面******
*/
.payresult-content{
	$group-line-color:#dcdcdc;
	.result-header{
		height:150px;
		position: relative;
		border-bottom: solid 1px $group-line-color;
		background-color: #fff;
		.container{
			width:100px;
			height:90px;
			text-align: center;
			color:#CF123E;
			font-size: 16px;
			font-weight: 700;
			position: absolute;
			left:50%;
			top:50%;
			margin-left:-50px;
			margin-top:-45px;
			div{
				height:60px;
				width:60px;
				display:inline-block;
				background: url("../../contents/svg/pay-fail.svg");
				background-size: contain;
			}
		}
		.success{
			color:#00CC00;
			div{
				background: url("../../contents/svg/pay-success.svg");
				background-size: contain;
			}
		}
	}
	.item-group{
		$item-height:50px;
		$item-icon-height:20px;
		list-style: none;
		border-top: solid 1px $group-line-color;
		border-bottom:solid 1px $group-line-color;
		margin-top: 20px;
		background-color: #ffffff;
		li{
			overflow: hidden;
			.icon{
				height:$item-icon-height;
				@include vertical-center($item-height,$item-icon-height);
				float: left;
				margin-left: 20px;
				margin-right:20px;
			}
			.text{
				line-height: $item-height;
				overflow: hidden;
				border-top:solid 1px $line-color;
				span{
					float: left;
				}
				img{
					height:$item-icon-height;
					@include vertical-center($item-height,$item-icon-height);
					float: right;
					margin-right: 10px;
				}
			}
			.unborder{
				border-top: none;
			}
		}
	}
}
/*
** *****项目详情页面******
*/
.detail-content{
	.img-wrap{
		background-color: #fff;
		border-bottom: solid 1px #dcdcdc;
		.img{
			position:relative;
			img{
				width:100%;
				height:160px;
			}
			.img-description{
			    background: rgba(66, 41, 6, 0.6);
			    color: #fff;
			    bottom: 0;
			    position: absolute;
				width:100%;
				p{
					margin:10px 15px;
				}
			}
		}
		.money{
			padding:10px 15px;
			overflow: hidden;
			.container{
				overflow: hidden;
			}
			.dealMoney{
				$bg-color:#FF5A00;
				border:solid 1px $bg-color;
				height:30px;
				line-height: 30px;
				text-align: center;
				float:left;
				.text{
					color:#FF5A00;
					float:left;
					padding:0px 5px;
				}
				.btn{
					background-color:$bg-color;
					float:left;
					color:#fff;
					padding:0px 5px;
				}
			}
			.sourceMoney{
				height:32px;
				line-height: 32px;
				color:#959595;
				margin-top:5px;
				span:nth-child(2){
					text-decoration: line-through;
				}
				span:nth-child(3){
					float:right;
				}
			}
		}
	}
	.doc-content{
		margin-top:20px;
		list-style: none;
		background-color:#fff;
		border-top: solid 1px #dcdcdc;
		border-bottom: solid 1px #dcdcdc;
		li{
			margin:10px 10px 0px 10px;
			.docImg{
				height:94px;
				width:70px;
				float:left;
			}
			.text{
				margin-left: 80px;
				border-bottom:solid 1px #eeeeee;
				.text-header{
					margin-bottom: 10px;
					.score{
						color:$header-background-color;
						float:right;
					}
				}
				.text-description{
					span:nth-child(2){
						font-size: $small-font-size;
						color:#959595;
					}
				}
				.time{
					height:40px;
					line-height: 30px;
					margin-top: 10px;
					div{
						display: inline-block;
						background-color:$header-background-color;
						color:#fff;
						height:30px;
						img{
							height:20px;
							margin-top: 5px;
						}
						span{
							float:right;
							line-height: 30px;
						}
					}
					.select-time{
						float:right;
						color: $header-background-color;
					}
					.selected{
						font-size:$small-font-size;
					}
					.arrow{
						height:20px;
						margin-top:5px;
						float:right;
					}
				}
			}
		}
		li:last-child{
			.text{
				border: none;
			}
		}
	}
	.product{
		margin-top:20px;
		background-color:#fff;
		border-top: solid 1px #dcdcdc;
		border-bottom: solid 1px #dcdcdc;
		padding:15px;
		.product-header{
			height:30px;
			line-height: 30px;
			border-bottom: solid 1px #eee;
		}
		.img{
			padding-top: 10px;
			padding-bottom:10px;
			position: relative;
			img{
				width:47%;
			}
			img:last-child{
				float:right;
			}
		}
		.img-tip{
			height:20px;
			width:25px;
			background-color:$header-background-color;
			color:#fff;
			text-align: center;
		}
		.products::before{
			content:"前";
			@extend .img-tip;
			position: absolute;
		}
		.products::after{
			content:"后";
			@extend .img-tip;
			position: absolute;
			right:0px;
		}
		.text{
			padding-top:10px;
			font-size: $small-font-size;
			color:#959595;
		}
		.hos-title{
			padding-bottom:10px;
			border-bottom:solid 1px #eee;
			.address{
				font-size: $small-font-size;
				color:#959595;
			}
		}
	}
}
.select-times{
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	z-index: 10;
	background-color:#EFEFF4;
	overflow-y: scroll;
	.pad{
		height:100px;
	}
	ul{
		background-color: #fff;
		border-bottom:solid 1px #dcdcdc;
		list-style: none;
		margin-top: 50px;
		li{
			border-bottom:solid 1px #eee;
			position: relative;
			.day{
				width:120px;
				height:40px;
				line-height: 40px;
				text-align: center;
				position: absolute;
				top:50%;
				left:0px;
				margin-top:-20px;
				color:$header-background-color;
			}
			.time{
				margin-left:120px;
				.item{
					height:40px;
					line-height: 40px;
					border-bottom:solid 1px #eee;
					margin-right:10px;
				}
				.item:last-child{
					border:none;
				}
				.icon{
					display: inline-block;
					float:right;
					height:20px;
					width:20px;
					margin-top:10px;
					background:url("../../contents/svg/uncheck.svg");
					background-size: contain;
				}
				.check{
					background:url("../../contents/svg/check.svg");
					background-size: contain;
				}
			}
		}
		li:last-child{
			border: none;
		}
	}
}

/*
*****健康咨询*****
*/
.new-nav{
	height:40px;
	width:100%;
	display: -webkit-box;
	display:flex;
	flex-direction: row;
	flex-flow: nowrap;
	.nav-item{
		width:100%;
		-webkit-box-flex: 1.0;
		-moz-box-flex: 1.0;
		flex:1.0;
		text-align: center;
		line-height: 40px;
		border:{
			right:solid 1px #eee;
			bottom:solid 1px #eee;
		}
	}
	.select{
		color:$header-background-color;
		border-bottom:solid 1px $header-background-color;
	}
}
.item-container{
	list-style: none;
	li{
		margin:{
			left:15px;
			right:15px;
		}
		padding:{
			top:15px;
			bottom:15px;
		}
		border-bottom:solid 1px #eee;
		img{
			height:60px;
			float:left;
			border-radius:3px;
		}
		div{
			margin-left:65px;
			.date{
				color:#959595;
				margin-top:25px;
			}
		}
	}
}
//资讯详情页
.newdetail-content{
	.content-header{
		height:60px;
		padding:{
			top:10px;
			bottom:10px;
		}
		margin:{
			left:15px;
			right:15px;
		}
		border-bottom: solid 1px #eee;
		.date{
			color:#959595;
			margin-top:25px;
		}
	}
	.text{
		margin-top: 20px;
		padding: 10px 15px;
	}
}

/*
******体检页面******
*/
.exam-filter{
	display: -webkit-box;
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: relative;
	z-index: 10;
	background-color: #fff;
	a{
		display: block;
		height:40px;
		width:100%;
		text-align: center;
		line-height:40px;
		-webkit-box-flex: 1.0;
		-moz-box-flex: 1.0;
		flex:1.0;
		border-right:solid 1px #eee;
		border-bottom: solid 1px #eee;
		color:#000;
		text-decoration: none;
	}
	a:last-child{
		border-right:none;
	}
	.select{
		color:$header-background-color;
		border-bottom:solid 2px $header-background-color;
	}
}

/*
*****体检详细页面*****
*/
.examDetail-container{
	.img-container{
		width:100%;
		height:160px;
		margin-bottom: 5px;
		position: relative;
		img{
			height:160px;
			width:100%;
		}
		.img-description{
			background: rgba(66, 41, 6, 0.6);
			color: #fff;
			bottom: 0;
			position: absolute;
			width: 100%;
			p{
				margin: 10px 15px;
			}
		}
	}
	.examDetail-filter{
		height:40px;
		line-height: 40px;
		display: -webkit-box;
		display:flex;
		flex-direction: row;
		flex-wrap: nowrap;
		border-top: solid 1px #eee;
		.item{
			width:100%;
			-webkit-box-flex: 1.0;
			-moz-box-flex: 1.0;
			flex:1.0;
			text-align: center;
			border:{
				right:solid 1px #eee;
				bottom:solid 1px #eee;
			}
		}
		.item:last-child{
			border-right:none;
		}
		.select{
			border-bottom:solid 2px $header-background-color;
			color:$header-background-color;
		}
	}
	.examDetail-content{
		padding:0px 15px;
		.productInfo{
			.description{
				.title{
					height:40px;
					line-height: 40px;
					border-bottom:solid 1px #eee;
				}
				.text{
					color:#959595;
					margin-top:10px;
				}
			}
			.product{
				margin-top: 20px;
				.title{
					height:40px;
					line-height: 40px;
					border-bottom:solid 1px #eee;
				}
				.items{
					color:#959595;
					margin:{
						left:18px;
						top:10px;
					}
				}
			}
		}
		.hospitalInfo{
			.img{
				padding-top: 10px;
				padding-bottom: 10px;
				position: relative;
				img{
					width:47%;
				}
				img:last-child{
					float:right;
				}
			}
			.title{
				border-bottom: solid 1px #eee;
				.marginPosition{
					margin:{
						top:10px;
						bottom:10px;
					}
				}
				.name{
					@extend .marginPosition;
				}
				.address{
					@extend .marginPosition;
					span:last-child{
						color:#959595;
					}
				}
				.phone{
					@extend .marginPosition;
					span:last-child{
						color:$header-background-color;
					}
				}
			}
			.text{
				margin-top:10px;
				color:#959595;
			}
		}
		.noticeInfo{
			.text{
				padding:10px;
				color:#959595;
			}
		}
	}

}
.selecttime{
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	top:0px;
	left: 0px;
	width:100%;
	height:100%;
	z-index: 30;
	.container{
		position: absolute;
		height:300px;
		width:80%;
		top:50%;
		left:50%;
		margin-top:-150px;
		margin-left:-40%;
		background-color:#fff;
		overflow: scroll;
		.selecttime-header{
			height:40px;
			line-height: 40px;
			color:#fff;
			background-color: $header-background-color;
			text-align: center;
		}
		.times{
			width:100%;
			height:219px;
			overflow: scroll;
			ul{
				list-style: none;
				padding:{
					left:10px;
					right:10px;
				}
			}
			li{
				height:40px;
				line-height: 40px;
				border-bottom: solid 1px #eee;
				div{
					float: right;
					height:20px;
					width:20px;
					margin-top:10px;
					background: url("../../contents/svg/uncheck.svg");
					background-size: contain;
				}
			}
			li:last-child{
				border-bottom: none;
			}
			.select{
				div{
					background:url("../../contents/svg/check.svg");
					background-size: contain;
				}

			}
		}
		.btn{
			height:40px;
			line-height: 40px;
			display: -webkit-box;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			border-top:solid 1px #eee;
			position: absolute;
			bottom: 0px;
			width:100%;
			.item{
				width:100%;
				-webkit-box-flex: 1.0;
				-moz-box-flex: 1.0;
				flex:1.0;
				text-align: center;
				border-right:solid 1px #eee;
			}
			.item:last-child{
				color:$header-background-color;
			}
		}
	}
}

/*
** 医生页面
*/
.doctor-content{
	ul{
		list-style: none;
		li{
			background-color:#fff;
			margin-bottom:10px;
			padding:10px 15px;
			p{
				overflow: hidden;
				margin-bottom: 5px;
			}
			p:last-child{
				margin-bottom: 0px;
			}
			img{
				height:97px;
				width:73px;
				float:left;
			}
			.text{
				margin-left:90px;
				.name{
					span:last-child{
						font-size: $small-font-size;
					}
				}
				.score{
					font-size: $small-font-size;
					span:first-child{
						color:$header-background-color;
					}
					span:last-child{
						color:#959595;
					}
				}
				.address{

				}
				.use{
					font-size:$small-font-size;
					span:last-child{
						color:#959595;
					}
				}
			}
		}
	}
}
