@import "tool.scss";
/*
全局变量
*/
$border-color:#eeeeee;
$border-color-more:#cccccc;
$font-size:14px;
$small-font-size:12px;
$large-font-size:16px;
//标题头变量
$header-background-color:#1fc1d9;
$header-color:#fff;
$header-height:50px;
$header-padding:15px;
//底部菜单栏变量
$bottom-menu-bg:#F6F6F6;
$bottom-menu-height:50px;
$bottom-icon-height:40px;

/*
全局样式
*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{
    margin:0;padding:0;border:0;
}
body{
	color:#000000;
	font-size:$font-size;
	font-family: "微软雅黑",Helvetica,Sans-serif;
}

/*
基础样式
*/
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.margin-l{
	margin-left: 5px;
}
.base-separator{
	@include separate(10px,#eeeeee,$border-color);
}
.has-header{
	margin-top:$header-height;
}
.has-menu{
	height: $bottom-menu-height;
	width: 100%;
	background-color: $bottom-menu-bg;
}

/*
* 标题头
*/
.header{
    position: fixed;
    top: 0px;
    width:100%;
    height:$header-height;
    background-color: $header-background-color;
    color: $header-color;
    text-align: center;
    z-index: 10;
    .title{
		$title-height:30px;
		$title-width:100px;
		height:$title-height;
		width: $title-width;
		line-height: $title-height;
        font-size: $large-font-size;
		@include hor-abosult-center($title-height,$title-width);
    }
	.header-item{
		$item-height:40px;
		height:$item-height;
		line-height: $item-height;
		@include vertical-center($header-height,$item-height);
		img{
			height:20px;
			vertical-align: middle;
		}
	}
	.header-item-left{
		@extend .header-item;
		margin-left: $header-padding;
	}
	.header-item-right{
		@extend .header-item;
		margin-right:$header-padding;
	}

}

/*
* 产品列表
*/
.prduct-container{
	$con-padding:10px;
	padding-left: $con-padding;
	padding-right:$con-padding;
	overflow: hidden;
	.item{
		$img-height:80px;
		padding-top: $con-padding;
		padding-bottom: $con-padding;
		overflow: hidden;
		border-bottom: solid 1px $border-color;
		span{
			display:block;
		}
		.item-img{
			height:$img-height;
			margin-right: 5px;
			border-radius: 5px;
		}
		.item-desc{
			margin-left:($img-height+10px);
		}
		.item-subhead{
			font-size: $small-font-size;
			line-height: 25px;
		}
		.item-price{
			overflow: hidden;
			margin-top: 20px;
		}
		.saleprice{
			color: #1fc1d9;
			i{
				font-size: $small-font-size;
			}
		}
		.price{
			font-size:$small-font-size;
			text-decoration: line-through;
			color:#333333;
		}

	}
}

/*
* 底部菜单
*/
.button-menu{
	position: fixed;
	z-index: 10;
	bottom: 0px;
	left: 0px;
	width:100%;
	background-color: $bottom-menu-bg;
	height:$bottom-menu-height;
	border-top: solid 1px $border-color-more;
	.button-menu-item{
		width:25%;
		height: 100%;
		float: left;
		text-align: center;
		.icon{
			display: inline-block;
			text-align: center;
			height:$bottom-icon-height;
			font-size: $small-font-size;
			@include vertical-center($bottom-menu-height,$bottom-icon-height);
			p{
				line-height: 15px;
			}
			img{
				height:25px;
			}
		}
		.check{
			color:$header-background-color;
		}
	}
}

/*
* 主页项目分类
*/
.type{
	padding-left: 5%;
	padding-right: 5%;
	$type-line-height:100px;
	$type-item-height:80px;
	$type-item-width:80px;
	.type-line{
		height:$type-line-height;
		position: relative;
		.type-item{
			height:$type-item-height;
			width:$type-item-width;
			text-align: center;
			@include vertical-center($type-line-height,$type-item-height);
			.type-icon{
				text-align: center;
			}
		}
		.middle{
			@include hor-abosult-center($type-item-height,$type-item-width);
		}
	}
}

/*
* 主页特惠专区
*/
.tehui{
	$line-height:100px;

	border-bottom:solid 1px $border-color;
	overflow: hidden;
	.tehui-qiang{
		width:70%;
		height:$line-height;
		text-align: center;
		position: relative;
		.item{
			$item-height:50px;
			$item-width:200px;
			display: inline-block;
			text-align: center;
			height:$item-height;
			width:$item-width;
			@include hor-abosult-center($item-height,$item-width)
			.item-title{
				text-align: left;
				padding-left: 5px;
				.title{
					display: block;
					background-color: #FA4B58;
					color:#ffffff;
					margin-right: 3px;
					padding: 5px;
				}
			}
		}
	}
	.tehui-tehui{
		$item-height:80px;
		$item-width:$item-height;
		width:28%;
		height:$line-height;
		border-left: solid 1px $border-color;
		position: relative;
		text-align: center;

		.item{
			display: inline-block;
			text-align: center;
			height:$item-height;
			width:$item-width;
			@include hor-abosult-center($item-height,$item-width);
		}
	}
}

/*
* 主页热门专区
*/
.hot{
	$hot-height:35px;
	height:30px;
	border-bottom: solid 1px $border-color;
	padding-left: 15px;
	div{
		$item-height:20px;
		height:$item-height;
		line-height: $item-height;
		@include vertical-center($hot-height,$item-height);
		img{
			height:$item-height;
		}
	}
}
